<div class="ask-a-question">
    {% if useH1 %}
        <h1>{{ headline }}</h1>
    {% else %}
        <h2>{{ headline }}</h2>
    {% endif %}
    <h2>{{ subheadline }}</h2>
    <p>{{ text | nl2br }}</p>
    {% if showButton %} 
        <a class="btn" href="/contact?ask=question">Ask a Question</a>
    {% endif %}
</div>