{% set bands = craft.entries.section('bands').orderBy('lft ASC') %}
{% if bands.count %}
	<section class="bands">
		<div class="band-carousel">
			<div class="band-slider">
				{% for band in bands.all() %}
					<div class="slide">
						<img loading="eager" src="{{ band.bandImage.one().url('bandCarousel') }}" width="{{ band.bandImage.one().width('bandCarousel') }}" height="{{ band.bandImage.one().height('bandCarousel') }}"{% if band.shortDescription | length %} title="{{ band.shortDescription }}"{% endif %}>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}