<div class="categories display-md">
	<div class="container">
		<nav role="navigation" aria-label="Primary Navigation">
			<ul>
				{% for cat in categories.all() %}
					{% if cat.show %}
						<li>
							<a class="underline{% if entry.slug == cat.slug %} active{% endif %}" href="{{ cat.url() }}" data-id="{{ cat.id }}" data-description="{{ cat.shortDescription }}">
								<span>{{ cat.title }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div id="category-description">
		<div class="container">
		</div>
	</div>
</div>