{% set categories = categories is defined ? categories : craft.entries.section('category') %}

{% cache globally %}
<footer>
    <div class="container">
        <a href="/" class="logo">
            <img loading="lazy" src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" width="216" height="140" />
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/electronic-press-kit">EPK</a></li>
                <li><a href="/" onclick="bp.signUp(); return false;" title="Subscribe to our newsletter">Subscribe</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
            <ul class="blog-categories">
                {% for cat in categories.all() %}
                    {% if cat.show %}
                        <li><a class="underline" href="{{ cat.url }}">{{ cat.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="copyright">
                <li>Copyright © {{ now|date('Y') }} Band Pioneer. All rights reserved.</li>
                <li>Website Engineered by <a href="https://realitygems.com" title="Reality Gems: Ushering in a New Era of Web 3.0" target="_blank">Reality Gems</a></li>
            </ul>
        </nav>
    </div>
</footer>
</header>
{% endcache %}