{% set categories = craft.entries.section('category') %}

<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="{{ url('assets/images/bp-logo.png') }}" alt="Band Pioneer" title="Band Pioneer" />
        </a>
        <a id="open-menu" href="/" class="bars">
            {% include '_includes/icons' with { type: 'bars' } %}
        </a>
        <nav id="main-menu" class="main-menu" role="navigation" aria-label="Secondary Navigation">
            <a id="close-menu" href="/" class="close-menu">
                {% include '_includes/icons' with { type: 'close' } %}
            </a>
            <ul>
                <li><a class="underline" href="#">About Us</a></li>
                <li><a class="underline" href="#">Articles</a></li>
                <li><a class="underline" href="#">Contact</a></li>
                {% for cat in categories.all() %}
                    <li class="hide-md">
                        <a class="underline" href="{{ cat.url }}">{{ cat.title }}</a>
                    </li>
                {% endfor %}
                <li class="display-md">
                    <a id="search" href="#">
                        {% include '_includes/icons' with { type: 'search' } %}
                        <input type="text" name="q" placeholder="Enter your search...">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% if entry.section.handle == 'blog' %}
        <div class="reading-time"><div id="reading-progress" class="reading-progress"></div></div>
    {% endif %}
</header>