.ezoic-ad {
	margin: 40px auto !important;
}

.ezmob-footer {
	.ezoic-ad {
		margin: 0 0 !important;
		.ezoic-ad {
			margin: 0 0 !important;
		}
	}
}

#ezoic-pub-ad-placeholder-900 {
	display: none !important;
}