
// Ezoic Styles & Overriddes

.advert > .ezoic-ad {
	padding: 30px !important;
}

.blog .advert > .ezoic-ad {
	height: 100%;
	border: solid $light-gray 3px;
	background-color: $light-gray;
	border-radius: $small-border-radius;
}

.category .advert {
	background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .ez-video-container.ez-stuck {
// 	position: static !important;
// }