@import 'vars2023';
@import 'layout2023';

.blog {

	h1 {
		font-size: 1.8rem;
    	line-height: 2.5rem;
	}

	h2 {
		border-bottom: solid 2px $secondary-darker;
		color: $secondary-darker;
		font-size: 1.45rem;
		line-height: 2.2rem;

		& + h3 {
			margin-top: 0;
		}
	}

	h3 {
		font-size: 1.2rem;
		line-height: 1.95rem;
	}

	h4:not(.related-title) {
		font-weight: $slightly-bold-font;
		font-size: 1.1rem;
		line-height: 1.8rem;
	}

	h5 {
		font-size: $small-font-size;
		font-weight: $semi-bold-font;
		line-height: ($small-font-size * 1.5);
	}

	@media (min-width: $breakpoint-md) {

		h1 {
			font-size: 2rem;
			line-height: 3rem
		}

		h2 {
			font-size: 1.7rem;
			line-height: 2.5rem
		}

		h3 {
			font-size: 1.4rem;
			line-height: 2.2rem
		}

		h4:not(.related-title) {
			font-size: 1.2rem;
			line-height: 1.8rem
		}

		h5 {
			font-size: $normal-font-size;
			line-height: 1.5rem
		}
	}

	@media (min-width: $breakpoint-lg) {

		h2 {
			margin-bottom: 8px;
		}
	}

	.blog-header {
		margin: 0;

		h2 {
			border: none;
			color: $lighter-font-color;
		}
	}

	.blog-container {
		max-width: $blog-width !important;
	}
	@media (min-width: ($gutter-width + $blog-width + $gutter-width)) {
		.blog-container {
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (min-width: $breakpoint-md) {
		.blog-header {
			padding: $object-padding 0;
		}
	}

	@media (min-width: $breakpoint-air) {
		.blog-header {
			background-color: $light-gray;
			border-top: solid 2px $white;
		}

		.blog-container {
			margin: 70px auto !important;
			max-width: 1110px !important;
			position: relative;

			&.sticky {
				.table-of-contents {
					position: fixed;
					top: 140px;
					bottom: 0;
				}
			}

			.blog-body {
				width: 650px;
				margin-left: auto;

				&.no-toc {
					margin: 0 auto;
				}
			}

			.table-of-contents {
				bottom: 0;
				position: absolute;
				margin: 0;
				opacity: 1;
				top: 0;
				transition: opacity $transition-time;
				width: 400px;

				&:after {
					content: none;
				}

				&.fadeaway {
					top: -500px;
					opacity: 0;
					transition: opacity $transition-time, top $transition-time;
					z-index: -1;
				}

				.section-title {
					margin-top: 0;
				}
			}
		}
	}

	@media (min-width: $breakpoint-xxl) {
		.blog-container {
			max-width: 1260px !important;

			.blog-body {
				width: $blog-width;
			}
		}
	}
}

address[rel="author"] {
	font-size: $small-font-size;

	> a, > span {
		display: grid;
    	grid-template-columns: auto 1fr;
    	align-items: center;
	}
	a {
		color: $font-color;

		&:hover {
			color: $link-color;
		}
	}
	img {
		border-radius: 50%;
		vertical-align: middle;
		margin: 0 7px 0 0;
	}
	span {
		vertical-align: sub;
	}
}

.blog-header .sharethis-inline-share-buttons {
	margin: -5px 0 10px 0;
}
@media (min-width: $breakpoint-md) {
	.blog-header .sharethis-inline-share-buttons {
		margin-top: -48px;
		text-align: right !important;
	}
}

.reading-time {
	display: none;
	background-color: $light-gray;
    position: fixed;
    top: $header-sticky-height;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 80;

    &.show {
    	display: block;
    }

	.reading-progress {
		transition: width 0.05s;
		width: 0;
		height: 100%;
		background: linear-gradient(to top, $secondary-dark, $secondary-color);
	}
}
@media (min-width: $breakpoint-md) {
	.reading-time {
	    top: ($header-sticky-height + $categories-sticky-height);
	}
}

.breadcrumb {
	display: flex;
	margin: -13px 0 18px 0;
	overflow: hidden;

	a {
		color: $primary-dark;
		font-size: $small-font-size;
		font-weight: 600;
		text-transform: uppercase;
		text-wrap: nowrap;

		&:hover {
			color: $link-hover-color;

			span {
				background-color: lighten($medium-gray, 3%);
			}

			&:after {
				border-top-color: lighten($medium-gray, 3%);
			}
		}

		&:not(:first-child) {
			margin-left: -6px;
		}

		&:after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 8px solid $medium-gray; 
			transform: rotate(-90deg);
    		margin-left: -8px;
    		transition: border-top-color $transition-time;
		}

		span {
			display: inline-block;
			background-color: $medium-gray;
			height: 24px;
			line-height: 24px;
			padding: 0 6px 0 8px;
			vertical-align: middle;
			transition: background-color $transition-time;
		}
	}
}

.blog {

	header {
		.logo {
			img {
				&.logo-alt {
	    			display: inline !important;
	    		}
	    		&.logo-mark {
	    			display: none;
	    		}
	    	}
		}
	}
	
	.featured-image {
		width: 100%;
		height: auto;
		box-shadow: $container-shadow;
		border-radius: $small-radius;
	}

	address + .social-sharing {
		margin: 20px 0;
		height: 32px;
		text-align: left !important;
	}

	.advert + .social-sharing {
		margin: 40px 0 -20px 0;
	}

	.featured-snippet {
		margin: 50px 0;
	    padding: 30px;
	    color: darken($font-color, 3%);
	    background-color: $light-gray;
	    border-radius: $small-radius;
	    line-height: 1.6rem;

	    h2, h3, p {
	    	display: inline;
	    	margin: 0;
	    }
	}
	@media (min-width: $breakpoint-air) {
		.featured-snippet {
			background-color: $light-gray;
			margin: 30px 0 0 0 !important;
		}
	}
	@media (min-width: $breakpoint-xl) {
		.featured-snippet {
			background-color: $white;
		}
	}

	.table-of-contents {
		margin: 50px 0;
		padding: 0 0 30px 0;
		position: relative;

		&:after {
			background-color: $light-gray;
		    content: "";
		    display: block;
		    position: absolute;
		    z-index: -1;
		    bottom: 0;
		    transform: translateY(-50%);
		    width: 100%;
		    height: 5px;
		}

		&.compressed-list {
			ul {
				li {
					margin: 8px 30px;
				}
			}
		}

		.section-title {
			cursor: pointer;
			font-family: $header-font-family;
			font-size: 1.45rem;
			line-height: 1.9rem;

			&:after {
				content: none;
			}

			i {
				svg {
					height: 16px;
					width: 16px;
    				margin-left: 10px;

					path {
						fill: $blog-headline-color;
					}
				}
			}
		}

		ul {
			list-style: none;
			max-height: 1000px;
			margin: 0;
			padding: 0;
			opacity: 1;
			transition: max-height $transition-time, opacity $transition-time;

			&.close {
				max-height: 0;
				opacity: 0;
			}

			li {
				font-weight: $semi-bold-font;
				// margin: $object-half-spacing $object-spacing;
				margin: 4px 0 0 0;

				position: relative;

				a {
					// background-color: darken($light-gray, 3%);
					background-color: $medium-gray;

					display: flex;
				    align-items: center;
				    border-radius: 3px;
					color: $primary-dark;
					font-size: $nav-font-size;
					font-weight: 600;
				    min-height: 34px;
					padding: 0 12px;
					// text-transform: uppercase;
				    transition: color $transition-time, padding-left $transition-time;

				    &:hover {
				    	color: $link-hover-color;
				    	padding-left: 15px;
				    }
				}

				ul li {
					font-weight: $regular-font;
					line-height: 1.4rem;

					a {
						background-color: $light-gray;
						font-weight: $regular-font;
						padding-left: 25px;

						&:hover {
					    	padding-left: 30px;
					    }
					}
				}

				input {
					display: none;

					&:checked {
						+ label {

							&:hover {
								svg {
									transform: rotate(160deg);
								}
							}

							+ ul {
								display: block;
							}

							svg {
								transform: rotate(180deg);
							}
						}
					}

					+ label {
						cursor: pointer;
						margin: 0 0 0 10px;

						position: absolute;
						background-color: $medium-gray;
						border-left: solid 4px $white;
						height: 32px;
						padding: 2px 0 0 8px;
					    right: 8px;
					    top: 0;
					    z-index: 10;

						&:hover {
							svg {
								transform: rotate(20deg);

								path {
									fill: $link-hover-color;
								}
							}
						}

						+ ul {
							display: none;
						}

						svg {
							height: 16px;
							width: 16px;
							vertical-align: middle;
							transition: transform $transition-time;

							path {
								fill: $primary-dark;
								transition: fill $transition-time;
							}
						}

					}
				}
			}
		}
	}

	.related-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: $object-spacing;
		width: fit-content;

		article {
			max-width: $blog-post-mobile-width;
		}
	}

	.related-categories {
		margin: 40px 0;
		text-align: center;
		text-transform: uppercase;

		a {
			display: inline-flex;
			align-items: center;
			background-color: $light-gray;
			border-radius: 20px;
			color: $link-color;
			font-weight: $slightly-bold-font;
			height: 40px;
			margin: 10px;
			padding: 0 25px;

			&:hover	{
				background-color: $alternate-color;
				color: $white;
				transition: background-color $transition-time, color $transition-time;
			}
		}
	}

	section {
		margin: 30px 0;

		blockquote:not(.tiktok-embed) {
			border-left: solid 3px $border-color;
			font-size: $quote-font-size;
			font-weight: 500;
			opacity: 0.76;
		    margin-left: 25px;
		    padding-left: 20px;
		    font-style: italic;

			&:before {
				content: open-quote;
				font-weight: 900;
			}
			&:after {
				content: close-quote;
				font-weight: 900;
			}
		}

		h3 + .ranker-buttons {
			margin-top: -7px;
		}

		// @media (min-width: $breakpoint-sm) {
		// 	&.rank-buttons-right {
		// 		position: relative;

		// 		h2 + .ranker-buttons {
		// 			top: 40px;
		// 		}

		// 		.ranker-buttons {
		// 			position: absolute;
		// 		    right: 0;
		// 		    top: -12px;
		// 		}
		// 	}
		// }

		&.rich-text {
			& + .rich-text {
				margin-top: -20px;
			}

			ul, ol {
			    list-style-position: outside;
			    margin-left: 32px;

			    li {
			    	line-height: 1.5rem;
			    }
			}

			ul {
				list-style: disc;
			}

			ol {
				list-style: auto;
			}

			pre {
				max-width: 100%;
    			overflow: auto;
			}

			figure.video,
			figure.instagram-media {
				margin: 40px 0 60px 0;
			}

			.side-by-side {
				margin: 40px 0 60px 0;

				figure {
					margin: 0;
				}
			}
		}

		&.embed-code {

			figure {
				&.tiktok {
					background-color: $medium-gray;
   					border-radius: $small-radius;

   					& > div {
						background-color: $white;
						border: solid 2px $medium-gray;
						border-radius:  $small-radius;
						padding: 10px 0;
					}

   					figcaption {
					   color: $caption-color;
					   font-weight: 600;
					   padding: 3px 0 10px 0;
					}
				}
			}

			.product-links {
				
				&:before {
					content: attr(data-title) "";
					display: block;
					font-weight: bold;
					border-bottom: solid 2px $light-gray;
					padding: 0 0 10px 0;
					margin: 0 0 18px 0;
				}

				> div {
					margin: -10px 0 40px 0;

					a {
						display: block;
						font-weight: $semi-bold-font;
						margin: 15px 0 0 0;
					}

					.amz-embed {
						position:relative;
						height:60px;
						overflow:hidden;
						
						iframe {
							margin-top:-180px;
						}
					}
				}
			}

			// USAGE: <div class="table" style="--columns: 4;">
			.table {
				display: grid;
				grid-template-columns: repeat(var(--columns), 1fr);
				gap: 3px;
				border-radius: $small-radius;
    			overflow: hidden;

				> div {
					padding: 12px;
					background-color: lighten($light-gray, 4%);

					&.title {
						background-color: $light-gray;
						font-weight: $semi-bold-font;
					}
					&.subtitle {
						font-weight: $semi-bold-font;	
					}
				}
			}
		}

		&.border-above-title {
			h2 {
				border-bottom: none;
				border-top: solid 2px $darker-border-color;
				color: $secondary-darker;
				margin: 40px 0 30px 0;
    			padding-top: 40px;
			}

			@media (min-width: $breakpoint-lg) {
				h2 {
					margin: 50px 0 40px 0;
					padding-top: 50px;
				}
				h2 + h3 {
					margin-top: -12px 
				}
			}
		}

		&.border-under-title {
			h2 {
				border-top: none;
				border-bottom: solid 2px $alternate-color;
			}
		}

		&.border-under-subtitle {
			h3 {
				border-bottom: solid 2px $alternate-color;
				padding-bottom: 12px;
			}

			@media (min-width: $breakpoint-lg) {
				h3 {
					margin-top: -18px;
				}
			}
		}

		&.no-h2-underline {
			h2 {
				border-bottom: none;
			}
		}

		&.tight-h3-h2 {
			h2 + h3 {
				margin-top: 3px;
			    opacity: 0.7;
			}

			@media (min-width: $breakpoint-xl) {
				h2 + h3 {
			    	margin-left: 25px;
				}
			}

			@media (min-width: $breakpoint-lg) {
				h2 + h3 {
					margin-top: -17px;
				}
			}
		}

		.section-anchor {
			transform: translateY(-120px);
		}
	}

	h1 {
		margin: 25px 0;

    	& + h2 {
    		font-family: $header-font-family;
    		margin: -20px 0 25px 0;
		    font-weight: 400;
		    letter-spacing: $header-font-spacing;
    	}
	}

	h2 {
		margin: 55px 0 0 0;

		span {
			color: $alternate-color;
		}
	}

	.ordered-title {
		margin: 40px 0 0 0;
		h2, h4 {
			margin: 0;
			display: inline;
		}
	}

	.ordered-subtitle {
		margin: 40px 0 0 0;
		h3, h4 {
			margin: 0;
			display: inline;
		}
	}

	address {
		margin: -5px 0 15px 0;
	}

}

/*************************/
/***** BLOG COMMENTS *****/
/*************************/

.blog-comments {

	background-color: $light-gray;
	padding: 60px 0;
	margin: 60px 0;

	h2, h3 {
		border: none;
		color: $primary-dark;
		font-family: $header-font-family;
		margin: 0 0 50px 0 !important;
		letter-spacing: $header-font-spacing;
	}
	h4 {
		margin: 0 0 10px 0;
		font-weight: $regular-font;
	}

	// comment plugin CSS

	.cc-w {

		input, textarea {
			font-size: $normal-font-size;
			font-family: $font-family;
			border-color: darken($border-color, 5%);

			&:focus {
				background-color: $white;
			}
		}
		a, .cc-i-delete {
			color: $link-color;
			font-weight: $semi-bold-font;
			text-transform: uppercase;
			min-width: auto;

			&:hover {
				color: $link-hover-color;
			}
		}
		button {
			font-family: $font-family;

			&.cc-f-btn {
				font-size: $small-font-size;
				border: none;
			    background-color: $alternate-color;
			    color: $white;
			    padding: 0 25px;

			    &:hover {
			    	background-color: $secondary-color;
			    }
			}
		}
		.cc-i {
			border-width: 2px;
			border-color: darken($border-color, 5%);
		}
		.cc-ll-i {
			&:before {
				content: ' ';
			}
		}
		.cc-i-image-icon {
			&:after {
				background-color: transparent;
			}

		}
	}

}


/************************/
/***** RANKER MODAL *****/
/************************/

.rank-comparison-modal {
	display: none;

	&.show {
		display: flex;
	}

	.m-header {
		display: block;
	}
	.d-header {
		display: none;
	}
	@media (min-width: $breakpoint-md) {
		.m-header {
			display: none;
		}
		.d-header {
			display: block;
		}
	}
	
	.modal {
		max-width: none;

		.scroll-panel {
			overflow: auto;
		}

		.split-panel {
			display: flex;
			flex-wrap: wrap;
			gap: 10px 0;

			// @media (min-width: $breakpoint-md) {
			// 	display: flex;

			// 	h3 {
			// 		margin-top: 0;
			// 	}
			// }

			// h3 {
			// 	margin-top: 20px;
			// }

			> div {
				flex: 1 1 50%;
				margin: 0;
				width: 400px;

				&.d-md {
					display: none;
				}
				@media (min-width: $breakpoint-md) {
					&.d-md {
						display: block;
					}
				}

				ul {
					list-style: none;
					margin: 0 5px;
					padding: 0;

					li {
					    display: flex;
					    align-items: center;
						background-color: $medium-gray;
					    border-radius: 3px;
					    color: $primary-dark;
					    flex-wrap: wrap;
					    font-size: $nav-font-size;
					    font-weight: 600;
					    min-height: 34px;
					    padding: 0 12px;
					    text-align: left;

					    span {
					    	color: darken($medium-gray, 45%);
					    	margin-left: 10px;
					    }

					    svg {
					    	fill: darken($medium-gray, 35%);
					    	height: 15px;
					    	width: 15px;
					    	margin-left: 5px;
					    }
					}
				}
			}
		}
	}
	
}

// @keyframes pulse-bkg {
//     0% {
//       background-color: $alternate-color;
//     }
//     50% {
//       background-color: $medium-gray;
//     }
//     100% {
//       background-color: $alternate-color;
//     }
// }

// @keyframes pulse-bkg {
//     0% {
//       background-color: $medium-gray;
//     }
//     25% {
//       background-color: darken($medium-gray, 15%);
//     }
//     50% {
//       background-color: $medium-gray;
//     }
//     75% {
//       background-color: darken($medium-gray, 15%);
//     }
//     100% {
//       background-color: $medium-gray;
//     }
// }

// .ranker-modal {
// 	display: none;

// 	&.show {
// 		display: flex;
// 	}

// 	.modal {
// 		> div {
// 			ul {
// 				list-style: none;
// 				margin: 0;
// 				padding: 0;

// 				li {
// 				    display: flex;
// 				    align-items: center;
// 					background-color: $medium-gray;
// 				    border-radius: 3px;
// 				    color: $primary-dark;
// 				    font-size: $nav-font-size;
// 				    font-weight: 600;
// 				    min-height: 34px;
// 				    padding: 0 12px;
// 				    text-align: left;
// 				    transition: color 0.3s, padding-left 0.3s;

// 				    &:hover {
// 				    	cursor: move;
// 				    }

// 				    &.dragging {
// 						opacity: 0.5;
// 					}

// 					&.mobile-dragging {
// 						position: fixed;
// 						left: 50px;
// 						right: 50px;
// 						z-index: 200;
// 						opacity: 1;
// 						background-color: darken($medium-gray, 10%);
// 						box-shadow: $border-shadow;
// 					}

// 					&.placeholder {
// 						background-color: $light-gray;
// 					}

// 					&.pulsate {
// 						animation: pulse-bkg 1s ease-in-out;
// 					}
// 				}
// 			}
// 		}
// 		aside {
// 			position: absolute;
// 			right: -18px;
// 			top: 50%;
// 			transform: translateY(-50%);

// 			.scroll-up, .scroll-down {
// 				display: flex;
// 				align-items: center;
// 				background-color: $white;
// 				box-shadow: $border-shadow;
// 				justify-content: center;
// 				border-radius: 20px;
// 				height: 40px;
// 				width: 40px;

// 				svg {
// 					height: 30px;
// 					width: 30px;

// 					path {
// 						fill: $lightest-font-color;
// 					}
// 				}
// 			}
// 			.scroll-up {
// 				margin-bottom: 20px;
// 				top: 30%;

// 				svg {
// 					transform: rotate(180deg);
// 				}
// 			}
// 		}
// 		@media (min-width: $breakpoint-sm) {
// 			aside {
// 				display: none;
// 			}
// 		}
// 	}
// }


/*************************/
/***** MEDIA QUERIES *****/
/*************************/

@media (min-width: $breakpoint-xs) {
	.blog {
		.related-content {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}

@media (min-width: $breakpoint-sm) {
	.blog {
		h1 {
			font-size: 2.1rem;
    		line-height: 3.2rem;
		}
		.blog-posts {
			grid-template-columns: 1fr 1fr;
		}
		section {
			&.embed-code {
				.product-links {
					> div {
						display: flex;
						align-items: end;
						gap: 15px;
					}
				}
			}
		}
		.related-content {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
	.popular-articles .blog-posts {
		grid-template-columns: 1fr 1fr;
		margin: 0 0 $section-spacing 0;
	}
}

@media (min-width: $breakpoint-md) {
	.blog {
		.related-content {
			grid-template-columns: repeat(3, minmax(0, 1fr));

			article {
				max-width: none;
			}
		}
		address + .social-sharing {
			margin: -50px 0 15px 0;
			text-align: right !important;
		}
	}
	.popular-articles .blog-posts {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 0 0 $section-spacing 0;
	}
}

@media (min-width: $breakpoint-lg) {
	.blog {
		h2 {
			margin: 65px 0 20px 0;
		}
		h3 {
			margin: 45px 0 20px 0;
		}
	}
}

@media (min-width: $breakpoint-air) {
	.blog {
		.table-of-contents {
			.section-title {
				cursor: default;

				i {
					display: none;
				}
			}

			ul.close {
				max-height: none;
    			opacity: 1;
			}
		}
	}
}