.categories {
	margin: 0 0 40px 0;
	background-color: $light-gray; //$primary-dark;

	nav {
		ul {
			text-align: center;
			li {
				margin: 0;
				display: inline-block;
				a {
					border-radius: 20px;
					text-decoration: none;
					text-transform: uppercase;
					transition: background-color $transition-default, color $transition-default;
					
					color: lighten($font-color, 5%);
					font-size: $font-size-small;
					font-weight: $semi-bold;
					display: flex;
					align-items: center;
					height: 60px;
					position: relative;
					padding: 0 15px;

					&:hover {
						color: $alternate-color;
					}

					&:after {
						position: absolute;
						right: 0;
						height: 3px;
						bottom: 0;
						z-index: 0;
						background-color: $alternate-color;
					}

					&.active {
						color: $primary-dark;
						cursor: default;
						&:after {
							display: none;
						}
					}

					span {
						z-index: 1;
					}
				}
			}
		}
	}

	#category-description {
		display: flex;
    	align-items: center;
		background-color: lighten($light-gray, 5%);
		text-align: center;
		font-size: $font-size-small;
		line-height: 1.25rem;
		overflow: hidden;
		height: 0;
		opacity: 0;
		transition: height $transition-default, opacity $transition-default;

		background-color: $primary-color;
		color: $white;

		&.show {
			height: 130px;
			opacity: 1;
		}

		.container {
			max-width: 800px;

			h3 {
				margin: -5px 0 10px 0;
			}

			a {
				color: $white;
			}
		}
	}
}

address[rel="author"] {
	font-size: $font-size-small;
	img {
		width: 40px !important;
		height: 40px !important;
		border-radius: 20px;
		vertical-align: middle;
		margin: 0 5px 0 0;
	}
	span {
		vertical-align: sub;
	}
	a {
		color: $font-color;
		&:hover {
			color: $link-color;
		}
	}
}


/******************************/
/***** BLOG LISTING PAGES *****/
/******************************/

article {

	&.featured {
		margin: 0 0 60px 0;

		.blog-image {
			position: relative;
			box-shadow: $small-shadow;
			border-radius: $small-border-radius;
			overflow: hidden;
			transition: opacity $transition-default;

			&:hover {
				opacity: 0.95;
			}

			img {
				filter: brightness(100%);
			}

			.blog-image-info {
				position: absolute;
				z-index: 20;
				bottom: 0;
				left: 0;
				right: 0;
				// top: 0;
				// padding: 0 25px 35px 25px;
				padding: 27px 25px 35px 25px;

				display: flex;
				flex-direction: column;
    			justify-content: end;

				h2 {
					margin: 0 0 15px 0;
					color: $white;
				}
				p {
					margin: 0;
					color: $white;
				}
				address {
					color: $white;
					margin: 0 0 15px 0;
				}
			}
		}
	}

	.blog-image {
		display: block;
		line-height: 0;

		&:hover {
			img {
				filter: brightness(110%);
			}
		}
		img {
			width: 100%;
			height: auto;
			filter: brightness(95%);
			transition: filter $transition-default;
		}
	}

	.blog-info {
		margin: 20px 0;
		position: relative;
		svg {
    		position: absolute;
    		top: 1px;
			width: 15px;
    		fill: $link-color;
		}
		h3 {
			margin-top: 15px;
		}
		ul {
			padding: 0 0 0 20px;
			li {
				margin: 0;
				display: inline;
				a {
					font-size: $font-size-small;
				}
				span {
					font-size: $font-size-small;
					color: $link-color;
				}
			}
		}
	}
}

.blog-posts {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	margin-top: 40px;

	article {
		box-shadow: $small-shadow;
		border-radius: $small-border-radius;
		overflow: hidden;
		.blog-info {
			margin: 20px 25px;
		}
	}
}


/*****************************/
/***** BLOG DETAIL PAGES *****/
/*****************************/


.blog {

	header {
		.logo {
			img {
				&.logo-alt {
	    			display: inline !important;
	    		}
	    		&.logo-mark {
	    			display: none;
	    		}
	    	}
		}
	}
	
	.featured-image {
		width: 100%;
		box-shadow: $medium-shadow;
		border-radius: $small-border-radius;
	}

	address + .social-sharing {
		margin: 20px 0;
		height: 32px;
		text-align: left !important;
	}

	.featured-snippet {
		margin: 50px 0;
	    padding: 30px;
	    color: darken($font-color, 3%);
	    background-color: lighten($light-gray, 3%);
	    border-radius: $small-border-radius;

	    h2, h3, p {
	    	display: inline;
	    	margin: 0;
	    }
	}

	.table-of-contents {
		margin: 50px 0;
		padding: 0 0 30px 0;
		position: relative;

		&:after {
			background: $gradient-border;
		    content: "";
		    display: block;
		    position: absolute;
		    z-index: -1;
		    bottom: 0;
		    transform: translateY(-50%);
		    width: 100%;
		    height: 5px;
		}

		ul {
			li {
				margin: 15px 30px;

				a {
					text-transform: capitalize;
				}
			}
		}
	}

	.related-content {
		grid-template-columns: 1fr;
		gap: 25px;

		article {
			img {
				width: 115%;
			}
			.blog-info {
				margin: 12px 15px;

				h4 {
					margin: 12px 0 6px 0;
					a {
						span {
							display: block;
							font-size: $font-size-normal;
							font-weight: $normal-weight;
							line-height: 1.55rem;
							margin: 5px 0 0 0;
						}
					}
				}
			}
		}
	}

	.related-categories {
		margin: 40px 0;
		text-align: center;
		text-transform: uppercase;

		a {
			display: inline-flex;
			margin: 10px;
			padding: 0 25px;
			border-radius: 20px;
			height: 40px;
			align-items: center;
			background-color: $light-gray;

			&:hover	{
				background-color: $alternate-color;
				color: $white;
				transition: background-color $transition-default, color $transition-default;
			}
		}
	}

	section {
		margin: 30px 0;

		&.rich-text {
			& + .rich-text {
				margin-top: -20px;
			}

			ul, ol {
				list-style: disc;
			    list-style-position: outside;
			    margin-left: 32px;

			    li {
			    	line-height: 1.5rem;
			    }
			}
		}

		&.embed-code {

			// USAGE: <div class="table" style="--columns: 4;">
			.table {
				display: grid;
				grid-template-columns: repeat(var(--columns), 1fr);
				gap: 3px;
				border-radius: $small-border-radius;
    			overflow: hidden;

				> div {
					padding: 12px;
					background-color: lighten($light-gray, 4%);
					&.title {
						background-color: $light-gray;
						font-weight: $semi-bold;
					}
					&.subtitle {
						font-weight: $semi-bold;	
					}
				}
			}
		}

		.section-anchor {
			transform: translateY(-120px);
		}
	}

	h1 {
		text-transform: capitalize;
		margin: 25px 0;

		// Michroma Google Font
		font-size: 2.1rem;
    	line-height: 3rem;

    	letter-spacing: 0.04rem;

    	& + h2 {
    		margin: -20px 0 25px 0;
		    font-weight: 400;
		    font-family: $header-font-family;
    	}
	}

	h2 {
		text-transform: capitalize;
		margin: 40px 0 0 0;
	}

	.ordered-title {
		margin: 40px 0 0 0;
		h2, h4 {
			margin: 0;
			display: inline;
		}
	}

	// .section-order {
	// 	& + h2 {
	// 		display: inline-block;
	// 	}
	// }

	address {
		margin: -5px 0 25px 0;
	}

}

/*************************/
/***** BLOG COMMENTS *****/
/*************************/

.blog-comments {

	background-color: $light-gray;
	padding: 60px 0;
	margin: 60px 0;

	h2, h3 {
		margin: 0 0 50px 0;
		font-family: $header-font-family;
		// text-transform: uppercase;
	}
	h4 {
		margin: 0 0 10px 0;
		font-weight: $normal-weight;
	}

	// comment plugin CSS

	.cc-w {
		input, textarea {
			// height: auto;
			font-size: $font-size-normal;
			font-family: $font-family;
			border-color: darken($border-color, 5%);

			&:focus {
				background-color: $white;
			}
		}
		a, .cc-i-delete {
			color: $link-color;
			font-weight: $semi-bold;
			text-transform: uppercase;
			min-width: auto;

			&:hover {
				color: $link-hover-color;
			}
		}
		button {
			// height: auto;
			font-family: $font-family;

			&.cc-f-btn {
				font-size: $font-size-small;
				border: none;
			    background-color: $primary-color;
			    color: $light-gray;
			    padding: 0 25px;

			    &:hover {
			    	background-color: $secondary-color;
			    }
			}
		}
		.cc-i {
			border-width: 2px;
			border-color: darken($border-color, 5%);
		}
		.cc-ll-i {
			&:before {
				content: ' ';
			}
		}
		.cc-i-image-icon {
			&:after {
				background-color: transparent;
				background-image: url(https://bandpioneer.com/assets/images/bp-mark.png);
			}

		}
	}

}


/*************************/
/***** MEDIA QUERIES *****/
/*************************/

@media (min-width: $breakpoint-xs) {
	.blog {
		.related-content {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: $breakpoint-sm) {
	.blog {
		.blog-posts {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: $breakpoint-md) {
	.blog {
		.container {
			margin: 0 auto;
		}
		.related-content {
			grid-template-columns: 1fr 1fr 1fr;
		}
		address + .social-sharing {
			margin: -50px 0 15px 0;
			text-align: right !important;
		}
	}
	.blog-posts {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: $breakpoint-lg) {
	.blog {
		h2 {
			margin: 65px 0 0 0;
		}
		h3 {
			margin: 45px 0 20px 0;
		}
	}
	.blog-posts {
		grid-template-columns: 1fr 1fr;
	}
	article {
		&.featured {
			.blog-image {
				.blog-image-info {
					p {
						width: 75%;
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-xl) {
	article {
		&.featured {
			.blog-image {
				.blog-image-info {
					p {
						width: 65%;
					}
				}
			}
		}
	}
}




