@import 'vars2023';

$rockstars-gap: 20px;
$rockstars-width: 1050px;
$rockstars-box-shadow: 0 3px 6px rgb(0 0 0 / 3%), 0 7px 14px rgb(0 17 35 / 3%);

body {
	background-color: $light-gray;
	padding-top: 70px;
}

nav.categories {
	display: none;
}

.rockstars-container {
	display: block;
	align-items: stretch;
	gap: 0 $rockstars-gap;
	max-width: $rockstars-width;
	margin: $rockstars-gap;

	@media (min-width: ($rockstars-width + $rockstars-gap + $rockstars-gap)) {
		margin: $rockstars-gap auto;
	}

	@media (min-width: $breakpoint-md) {
		display: flex;
		justify-content: center;
	}
}

p {
	margin: 10px 0;
}

.two-col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;

	p {
		display: flex;
		align-items: center;
		justify-content: space-between;

		background-color: $light-gray;
		border-radius: 3px;
		box-sizing: border-box;
		color: darken($caption-color, 12%);
		flex: 1 1 calc(50% - 5px);
		font-size: $nav-font-size;
		font-weight: 600;
		margin: 0;
		padding: 2px 7px;

		&.dislike {
			font-weight: 400;
			text-decoration: line-through;
		}

		svg {
			height: 18px;
			width: 18px;

			path {
				fill: darken($medium-gray, 10%);
			}
		}
	}

	@media (min-width: $breakpoint-sm) {
		flex-direction: row;
	}
	@media (min-width: $breakpoint-md) {
		flex-direction: column;
	}
	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
	}
}

section {
	background-color: lighten($light-gray, 6%);
	border-radius: 4px;
	box-shadow: $rockstars-box-shadow;
	margin: 0 0 $rockstars-gap 0;
	overflow: hidden;
	padding: $rockstars-gap;

	@media (min-width: $breakpoint-sm) {
		min-width: 360px;
	}

	&.my-account {
		position: relative;

		h1 {
			position: absolute;
			left: -200px;
			top: 140px;

			color: $white;
			transform: rotate(-90deg);

		}
	}

	h1, h2, h3 {
		margin: $rockstars-gap 0 10px 0;
		color: $secondary-dark;

		&:first-child {
			margin-top: 0;
		}
	}

	article {
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 10px 0;

		a {
			flex: 1;
		}

		figure {
			background-color: $light-gray;
			border-radius: 3px;
			margin: 0;
			min-height: 80px;
			overflow: hidden;
			width: 150px;

			img {
				border-radius: 3px;
				width: 100%;
			}
		}
	}
}