html {
	font-family: $font-family;
	font-size: 16px;
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	margin: 0;
	font-size: 1rem;
	color: $font-color;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.01rem;
	height: 100%;
	display: grid;

	footer {
		align-self: end;
	}
}

* {
	box-sizing: border-box;
}

.narrow-container {
	max-width: $blog-width !important;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}
.text-dark-blue {
	color: $primary-dark;
}

ul, ol {
	margin: 0;
	padding: 0;
	li {
		margin: 10px 0;
	}
}

ul {
	list-style: none;
}

h1, .section-title {
	font-family: $header-font-family;
}

h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;


	&.section-title {
		text-transform: uppercase;
		position: relative;
		margin: 30px 0;

		&:after {
			background: $gradient-border;
		    content: "";
		    height: 1px;
		    display: block;
		    position: absolute;
		    z-index: -1;
		    top: 50%;
		    transform: translateY(-50%);
		    width: 100%;
   			height: 5px;
		}

		span {
			background-color: $white;
			padding: 0 15px 0 0;
		}
	}
}

h1 {
	// font-size: 2rem;
	// line-height: 2.7rem;

	// Michroma Google Font
	font-size: 1.6rem;
    line-height: 2.5rem;
}

h2 {
	// font-size: 1.75rem;
	// line-height: 2.5rem;

	font-size: 1.4rem;
	line-height: 2rem;
}

h3, h4 {
	font-size: 1.2rem;
	line-height: 1.7rem;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}

a {
	text-decoration: none;
	color: $link-color;
	transition: color $transition-default;

	&:hover {
		color: $link-hover-color;
	}

	&.underline {
		text-decoration: none;
		color: $link-color;
		transition: color $transition-default;
		position: relative;

		&:after {
			transition: width $transition-default, left $transition-default;
		    position: absolute;
		    bottom: -7px;
		    left: 50%;
			width: 0;
		    content: "";
		    height: 2px;
		    display: block;
		    background-color: $link-hover-color;
		}

		&:hover {
			color: $link-hover-color;

			&:after {
    			left: 0;
				width: 100%;
			}
		}
	}
}


.container {
	max-width: $site-width;
	margin: 0 $mobile-gutter-width;

	&.page {
		margin: $page-vertical-mobile-margin $mobile-gutter-width;

		p + figure,
		figure + p {
			margin-top: 30px;
		}
	}
}

.logo {
	display: block;
	height: $header-logo-height;
	img {
		height: 100%;
	}
}

section {
	&.content-container {
		background-color: $light-gray;
		padding: 30px 40px;
		// box-shadow: $small-shadow;
		border-radius: $small-border-radius;
		text-align: center;
		h2, h3, h4 {
			text-transform: capitalize;
			color: $alternate-color;
		}
	}
}

@keyframes slide-down-header {
	0% {
		top: -100px;
	}
	100% {
		top: 0;
	}
}

#homepage {
	header {
		&.sticky {
			.logo img {
				&.logo-alt {
	    			display: inline;
	    		}
	    		&.logo-mark {
	    			display: none;
	    		}
			}
		}

		.logo {
			&:hover {
				img.logo-mark {
					transform: translate(0, 10px) !important;
				}
			}
			img {
				&.logo-alt {
	    			display: none;
	    		}
	    		&.logo-mark {
	    			display: inline;
	    		}
	    	}
		}
	}
}

header {
	padding: 10px 0;

	.logo {
		img {
			&.logo-alt {
    			display: inline;
    		}
    	}
	}

	.container {
		display: grid;
		grid-template-columns: 30% 70%;

		.bars {
			width: 30px;
			height: 30px;
			align-self: start;
			justify-self: end;

			&:hover {
				svg {
					fill: $primary-color;
				}
			}

			svg {
				width: 100%;
				fill: $white;
				transition: fill $transition-default;
			}
		}

		nav.main-menu {
			position: fixed;
			z-index: 200;
			top: 0;
			right: 0;
			text-align: right;
			padding: 20px 28px;
			// background-color: $primary-dark-lighter;
			background-color: $alternate-color;
			border-radius: 0 0 0 $small-border-radius;
			// box-shadow: $medium-shadow;
			display: none;

			&.show {
				display: block;
			}

			.close-menu {
				display: inline-block;
				width: 25px;
				height: 25px;

				&:hover {
					svg {
						fill: $primary-color;
					}
				}

				svg {
					fill: $white;
					width: 100%;
				}
			}

			ul {
			    li {
			    	margin: 15px 0;

			    	&.dropdown-menu {
			    		position: relative;
			    		a {
			    			svg {
			    				width: 12px;
			    			}
			    		}
			    		ul {
			    			display: none;
			    			position: absolute;
							top: 35px;
						    left: 50%;
						    transform: translateX(-50%);
							text-align: center;
							padding: 15px 20px;
							background-color: $alternate-color;
							border-radius: $small-border-radius;
							box-shadow: $medium-shadow;

							&.show {
								display: block;
							}

							&:before {
								content: " ";
								display: block;
								width: 0;
								height: 0;
								border: 10px solid transparent;
								border-top: 0;
								border-bottom: 10px solid #0a79a4;
								position: absolute;
								top: -9px;
								left: 50%;
								transform: translateX(-50%);
							}

							li {
								margin: 10px 0;
								a {
									white-space: nowrap;
								}
							}
			    		}
			    	}

			    	a {
			    		color: $white;
			    		text-transform: uppercase;
			    		font-size: $font-size-small;
			    		font-weight: $semi-bold;
			    		&:after {
							background-color: $primary-color;
						}
			    		svg {
			    			vertical-align: text-top;
			    		}
			    	}
			    }
			}
		}
	}

	.reading-time {
		background-color: $light-gray;
		// background: linear-gradient(to top, lighten($primary-dark, 30%), lighten($primary-dark, 10%));
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 6px;

		.reading-progress {
			transition: width 0.05s;
			width: 0;
			height: 100%;
			background: linear-gradient(to top, $secondary-dark, $secondary-color);
		}
	}
}

body.fixed-header {
	main {
		margin-top: 85px;
	}
}

body.fixed-header header,
header.sticky {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $primary-dark;
	box-shadow: $medium-shadow;

	animation-name: slide-down-header;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.page-header {
	background-color: $primary-dark;
	height: $page-header-height; 
	// overflow: auto;
	display: grid;

	h1, h2 {
		color: $primary-color;
		text-align: center;
		align-self: start;
		margin: -30px 0 0 0;
	}

	.main-logo {
		justify-self: center;
		width: 70%;
    	max-width: 420px;
	}	
}

footer {
	background-color: $primary-dark;
	padding: 80px 0;
	margin: 80px 0 0 0;

	.logo {
		height: 140px;
	}

	.container {
		display: grid;
	    grid-template-rows: 1fr 1fr;
	    justify-items: center;

	    nav {
	    	align-self: center;
	    	text-align: right;
	    	margin: 25px 30px 0 10px;

	    	ul {
	    		text-align: center;

	    		&.blog-categories {
	    			margin-top: 18px;
	    		}

	    		li {
	    			display: inline;
	    			margin: 0 10px;
	    			text-align: center;

	    			a {
	    				color: $white !important;
	    				font-size: $font-size-small;
					    text-transform: uppercase;
					    font-weight: $semi-bold;
					    // white-space: nowrap; // This breaks mobile, won't wrap on iPhone

				    	&:after {
				    		background-color: $primary-color;
				    	}
	    			}
	    		}
	    	}

	    	.copyright {
	    		color: $white;
	    		font-size: $font-size-small;
	    		opacity: 0.65;

			    li {
			    	text-align: center;
			    	display: block;
			    	margin: 25px 0 0 0;

			    	&:not(:first-child) {
			    		margin: 6px 0 0 0;
			    	}
			    }
	    	}
	    }
	}
}

.pagination {
	margin: 60px 0;
	text-align: center;

	a {
		opacity: 1 !important;

		&:hover {
			&.page-arrow {
				svg {
					path {
						fill: $link-hover-color;
					}
				}
			}
		}
		&.page-arrow {
			svg {
				path {
					fill: $link-color;
					transition: fill $transition-default;
				}	
			}
		}
	}

	a,
	span {
		vertical-align: middle;
		opacity: 0.75;

		&.page-arrow {
			margin: 0 8px;

			&.first,
			&.prev {
				svg {
					transform: rotate(180deg);
				}
			}
			&.prev {
				margin: 0 20px 0 12px;
			}
			&.next {
				margin: 0 12px 0 20px;
			}

			svg {
				margin: 0 -13px;
			}
		}
	}
}

figure {
	margin: 0 auto;

	&.image {
		&.top-margin {
			margin-top: 100px;
		}
		img {
			width: 100%;
			border-radius: $small-border-radius;
		}
	}

	&.video {
		.player {
			position: relative;
				padding-bottom: 56.25%;

				iframe {
					position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				aspect-ratio: 16 / 9;
				}
		}
	}

	figcaption {
		font-size: $font-size-small;
		line-height: 1.35rem;
		color: $light-font-color;
		margin: 5px 0 0 0;
		text-align: center;
	}
}

#homepage,
.category {
	.page-header {
		height: 350px;
		background-color: $gunmetal;
		background-image: url(/assets/images/bp-music-studio.jpg);
	    background-repeat: no-repeat;
    	background-size: cover;
    	position: relative;

    	header {
    		z-index: 100;
    	}

    	h1 {
    		z-index: 20;
    	}

    	@keyframes markfloating {
			0% { transform: translate(0, 0); }
			50%  { transform: translate(0, 4px);}
			100%   { transform: translate(0, 0); }   
		}

    	@keyframes logointro {
			0% { transform: scale(0.2); opacity: 0; }
			60%   { transform: scale(0.2); opacity: 0.1; }
			90%   { transform: scale(1.1); }
			100%   { transform: scale(1); opacity: 1; }
		}

    	@keyframes markintro {
			0% { transform: translate(-500px, 0); opacity: 0; }
			30% { transform: translate(-500px, 0); opacity: 0; }
			100% { transform: translate(0, 0); opacity: 1; }
		}

    	.main-logo {
    		z-index: 10;
    		opacity: 1;
    		transform: scale(1);
    		animation-name: logointro;
		    animation-duration: 1700ms;
		    animation-timing-function: ease-in-out;
    	}

    	.logo {
    		transform: translate(0, 0);
    		animation-name: markintro;
		    animation-duration: 1000ms;
		    animation-timing-function: ease-in-out;

		    img {
	    		&.logo-mark {
	    			animation-name: markfloating;
				    animation-duration: 3s;
				    animation-iteration-count: infinite;
				    animation-timing-function: ease-in-out;
	    		}
	    	}
    	}

    	&:after {
    		content: " ";
    		background-color: rgba(0, 0, 0, 0.7);
    		position: absolute;
    		z-index: 1;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    	}
	}
}

#search-results {
	h2 {
		margin: 40px 0;
	}
}

#homepage {
	.page-header {
		height: 350px;
		// background-image: url(/assets/images/bp-music-studio.jpg);
		background-image: url(/assets/images/free-playing-jazz-bass.jpg);
		background-position: center 30%;

		&:after {
    		background-color: rgba(0, 0, 0, 0.25);
    	}
	}
}

.category {
	.page-header {
		height: 350px;
		background-image: url(/assets/images/free-playing-jazz-bass.jpg);
		background-position: center center;
	}
}

.btn {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

button,
input[type="submit"],
.btn {
	border: none;
	border-radius: $small-border-radius;
	background-color: $alternate-color;
	color: $white;
	width: fit-content;
	height: $input-height;
	min-width: 120px;
	padding: 0 25px;
	cursor: pointer;
	transition: background-color $transition-default;
	font-weight: 600;
    text-transform: uppercase;

	&:hover {
		background-color: $secondary-color;
		color: $white;
	}
}

form {
	input:not([name="q"]),
	textarea,
	button,
	.btn {
		padding: 0 25px;
		height: $input-height;
		border-radius: $small-border-radius;
		font-family: $font-family;
	}

	input:not([type="submit"]),
	textarea {
		border: 0;
		outline: 0;
		border-bottom: solid 2px $border-color;
		background-color: lighten($light-gray, 5%);

		&:focus {
			border-color: darken($border-color, 5%);
			background-color: lighten($light-gray, 2%);
		}
	}

	textarea {
		padding-top: 18px;
		height: 150px;
	}

	&.contact-form {
		max-width: $blog-width;
		margin: 0 auto;
		display: grid;
		gap: 20px;
		grid-template-areas: 
			"h3"
			"fn"
			"em"
			"pn"
			"cm"
			"er"
			"bt";

		h3 {
			grid-area: h3;
			text-align: center;
		}

		input[name="name"] {
			grid-area: fn;
		}
		input[name="email"] {
			grid-area: em;
		}
		input[name="phone"] {
			grid-area: pn;
		}
		textarea {
			grid-area: cm;
		}
		button {
			grid-area: bt;
			// justify-self: end;
		}

		.errors {
			grid-area: er;
			color: $secondary-color;
			font-weight: $semi-bold;
		}
	}
}

@media (min-width: ($site-width + $mobile-gutter-width + $mobile-gutter-width)) {
	.container {
		margin: 0 auto;
	}
}

@media (min-width: $breakpoint-sm) {
	#homepage {
		.page-header {
			height: 450px;
		}
	}
}

@media (max-width: $breakpoint-md) {
	.display-md {
		display: none !important;
	}
	.hide-mobile {
		display: none !important;
	}
}

@media (min-width: $breakpoint-md) {
	.hide-md {
		display: none;
	}
	h1 {
		// font-size: 2.6rem;
		// line-height: 3.3rem;

		// Michroma Google Font
		font-size: 2.4rem;
    	line-height: 3.7rem;
	}
	h2 {
		font-size: 1.75rem;
    	line-height: 2.6rem;
	}
	#homepage {
		.page-header {
			height: 500px;
		}
	}
	.container.page {
		margin: $page-vertical-margin auto;
	}
	// figure {
	// 	&.image {
	// 		&.smaller {
	// 			width: 65%;
	// 		}
	// 	}
	// }
	header {
		.container {
			.bars {
				display: none;
			}
			nav.main-menu {
				display: flex;
				position: static;
				background-color: transparent;
			    align-items: center;
			    justify-content: end;

			    .close-menu {
			    	display: none;
			    }

			    ul {
					display: inline-block;

				    li {
				    	display: inline-block;
				    	margin: 0 10px;
				    	vertical-align: top;

				    	&.hide-md {
				    		display: none;
				    	}

				    	a {
				    		color: $white;
				    		text-decoration: none;
				    		font-size: $font-size-small;
				    		text-transform: uppercase;
	    					font-weight: $semi-bold;

				    		&:after {
							    background-color: $primary-color; //$link-hover-color; // $primary-color;
							}

				    		&#search {
				    			&.show {
				    				svg {
					    				margin: 0 -17px -1px 0;
					    				// fill: darken($light-gray, 30%); //$primary-color;
					    			}
					    			input {
					    				width: 180px;
					    				padding: 3px 0 3px 20px;
					    			}
				    			}
				    			svg {
				    				margin: 0 0 -1px 0;
				    				transition: fill $transition-default;
				    			}
				    			input {
				    				transition: width $transition-default;
				    				width: 0;
				    				background: transparent;
								    border: 0;
								    // border-bottom: solid 2px darken($light-gray, 30%);
								    border-bottom: solid 2px $primary-color;
								    padding: 3px 0;
								    outline: 0;
								    font-size: $font-size-small;
								    color: $white;
								    caret-color: $white;

								    &::placeholder {
								    	// color: darken($light-gray, 30%);
								    	color: $primary-color;
								    }
				    			}
				    		}

				    		svg {
				    			height: 15px;
	    						width: 15px;
	    						fill: $white;
				    		}

				    	}
				    }
				}
			}
		}
	}
	form.contact-form {
		max-width: $blog-width;
		margin: 60px auto;
		display: grid;
		gap: 20px;
		grid-template-areas: 
			"h3 h3 h3 h3"
			"fn fn fn fn"
			"em em pn pn"
			"cm cm cm cm"
			"er er er bt";

		button {
			justify-self: end;
		}

		.errors {
			align-self: center;
		}
	}
}

@media (min-width: $breakpoint-lg) {
	#homepage {
		.page-header {
			height: 700px;
		}
	}
	footer {
		.container {
		    grid-template-columns: 200px 1fr;
		    grid-template-rows: none;
		    padding: 0 10px;

		    nav {
		    	justify-self: end;
		    	margin: 0;

		    	ul {
		    		text-align: right;
		    		li {
		    			margin: 0 0 0 25px;
		    		}
		    	}

		    	.copyright {
		    		li {
					    text-align: right;
					    margin: 18px 0 0 0;
					}
		    	}
		    }
		}
	}
}

// @media (min-width: $breakpoint-xl) {
// 	figure {
// 		&.image {
// 			&.smaller {
// 				width: 80%;
// 			}
// 		}
// 	}
// }
