@import 'vars2023';
@import 'layout2023';

/***** CONTAINERS *****/

@media (max-width: $breakpoint-md) {
	.scroll-pane {
		overflow-x: auto;
	}
}

.z-pattern {
	display: flex;
	flex-direction: column;
	gap: $object-spacing;

	& + .z-pattern {
		&:nth-child(even) {
			flex-direction: column-reverse;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	div {
		h3, h3, h4 {
			margin: 0 0 $paragraph-spacing 0;
		}
		ul {
			margin-top: -5px;

			li {
				margin: 0;
			}
		}
	}
}
@media (min-width: $breakpoint-md) {
	.z-pattern {
		display: grid;
		align-items: center;
		gap: ($object-spacing * 3);
	    grid-template-columns: 1fr 1fr;
	    justify-items: center;
	}
}

.pagination {
	margin: 60px 0;
	text-align: center;

	a {
		opacity: 1 !important;

		&:hover {
			&.page-arrow {
				svg {
					path {
						fill: $link-hover-color;
					}
				}
			}
		}
		&.page-arrow {
			svg {
				path {
					fill: $link-color;
					transition: fill $transition-time;
				}	
			}
		}
	}

	a,
	span {
		font-weight: $semi-bold-font;
		vertical-align: middle;

		&.page-arrow {
			margin: 0 8px;

			&.first,
			&.prev {
				svg {
					transform: rotate(180deg);
				}
			}
			&.prev {
				margin: 0 20px 0 12px;
			}
			&.next {
				margin: 0 12px 0 20px;
			}

			svg {
				margin: 0 -13px;
			}
		}
	}
}





/***** FORMS *****/


form {
	input:not([name="q"]):not([type=checkbox]),
	textarea,
	select {
		padding: 0 $object-padding;
		height: $input-height;
		border-radius: $small-radius;
		color: $font-color;
		font-family: $font-family;
		font-size: $small-font-size;

		&::placeholder {
			font-weight: $semi-bold-font;
		}
	}

	input:not([type="submit"]),
	select,
	textarea {
		background-color: lighten($light-gray, 2%);
		border: 0;
		border-bottom: solid 2px $border-color;
		outline: 0;

		&:focus {
			border-color: darken($border-color, 5%);
			background-color: lighten($light-gray, 0%);
		}
	}

	textarea {
		padding-top: 18px;
		height: 150px;
	}

	.errors {
		color: $error-color;
		font-weight: $semi-bold-font;
		font-size: $small-font-size;
		list-style: none;
	    margin: 0;
	    padding: 0;
	}

	&.login-form {
		display: block;
		max-width: 400px;
		margin: 0 auto;
		border: solid 1px $border-color;
		border-radius: $small-radius;
		padding: 35px;
		h3 {
			margin: 0 0 35px 0;
		}
		input {
			margin-bottom: 35px;
			display: block;
			width: 100%;
		}
		.errors {
			text-align: center;
			margin: -25px 0 20px 0;
		}
		button {
			width: 100%;
		}
		label {
			font-size: $small-font-size;
			display: block;
			margin: 25px 0 0 0;
			text-align: center;
		}
	}

	&.contact-form {
		max-width: $rich-text-width;
		margin: 0 auto;
		display: grid;
		gap: $object-spacing;
		grid-template-areas: 
			"h3"
			"fn"
			"em"
			"pn"
			"cm"
			"er"
			"bt";

		h3 {
			grid-area: h3;
			text-align: center;
		}

		input[name="fromName"] {
			grid-area: fn;
		}
		input[name="fromEmail"] {
			grid-area: em;
		}
		input[name="phone"] {
			grid-area: pn;
		}
		textarea {
			grid-area: cm;
		}
		button {
			grid-area: bt;
    		justify-self: start;
    		// margin-top: -($object-spacing);
    		width: 140px;
		}

		.errors {
			grid-area: er;
			color: $secondary-color;
			font-weight: $semi-bold-font;
		}

		@media (min-width: $breakpoint-sm) {
			grid-template-areas: 
			"h3 h3"
			"fn fn"
			"em em"
			"pn pn"
			"cm cm"
			"er bt";

			button {
				justify-self: end;
	    	}
		}
	}
}


/***** SECTIONS *****/

section {
	margin: $section-mobile-spacing 0;

	&.blog-row {
		h2, h3 {
			border-bottom: solid 1px $primary-dark;
			text-transform: capitalize;
		}

		.grid-pane {
			display: grid;
			gap: $object-spacing;
			grid-template-columns: 1fr;
			width: fit-content;

			@media (min-width: $breakpoint-xs) {
				
				grid-template-columns: repeat(2, minmax(0, 1fr));

				article {
					max-width: $blog-post-mobile-width;
				}
			}

			@media (min-width: $breakpoint-sm) { 
				
				// grid-template-columns: repeat(3, minmax(0, 1fr));

				article {
					max-width: $popular-post-md-width;
				}
			}

			@media (min-width: $breakpoint-md) {
				
				grid-template-columns: repeat(4, minmax(0, 1fr));

				article {
					max-width: 100%;
				}
			}
		}

		.scroll-pane {
			div {
				display: grid;
				gap: $object-spacing;
				grid-template-columns: repeat(4, 1fr);
				margin: 0 auto;
				width: max-content;

				article {
					width: $popular-post-mobile-width;
				}
			}

			@media (min-width: $breakpoint-md) {
				div {
					grid-template-columns: repeat(2, 1fr);

					article {
						width: $popular-post-md-width;

						img {
							width: auto;
						}
					}
				}
			}

			@media (min-width: $breakpoint-lg) {
				div {
					grid-template-columns: repeat(4, 1fr);
					width: 100%;

					article {
						width: 100%;
					}
				} 
			}
		}
	}

	&.cta-text {
		background-color: $light-gray;
		margin-top: 0;
		overflow: hidden;
		text-align: center;

		background-image: url(/assets/images/bp-homepage-bkg.jpg);
    	background-position: center bottom;
    	background-repeat: no-repeat;
    	background-size: cover;

    	* {
    		color: $white;
    	}

    	p {
    		font-weight: $slightly-bold-font;
    	}

		.z-pattern {
			max-width: 500px;
			margin: 0 auto;
			padding-top: $section-spacing; 

			div:nth-child(2n) {
				line-height: 0;

				img {
					max-height: 450px;
					opacity: 1;
					filter: blur(0px) grayscale(40%);
					transition: filter 0.8s, opacity $transition-time;

					&.blur-out {
						opacity: 0;
					    filter: blur(40px) grayscale(40%); 
						transition: filter $transition-time, opacity 0.5s;
					}
				}
			}
		}
		@media (min-width: $breakpoint-md) {
			.z-pattern {
				display: flex;
				gap: 0;

				div:nth-child(2n) {
					img {
						margin-top: $section-mobile-spacing;
					}
				}
			}
		}

		@media (min-width: $breakpoint-lg) {
			
			background-size: cover;
			background-position: center top;
			border-top: solid 2px $white;
			padding-top: 0;
			text-align: left;

			.z-pattern {
				display: grid;
				gap: $object-spacing;
				height: 500px;
				max-width: none;
				padding-top: 0;

				div:nth-child(2n) {
					align-self: end;

					img {
						margin-top: 0;
					}
				}
			}
		}

		@media (min-width: $breakpoint-xl) {
			.z-pattern {
				height: 600px;

				div:nth-child(2n) {
					img {
						max-height: 550px;
					}
				}
			}
		}
	}


	&.featured {
		.z-pattern {
			.category {
				margin-bottom: $object-spacing; 
			}
		}

		@media (min-width: $breakpoint-md) {
			.search-box {
				margin-top: -48px;

				input[type=text] {
					border-top: none !important;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
		}
	}

	&.rich-text {

		&.bkg-img {
			position: relative;
			background-position: center center;
			background-size: cover;

			&:after {
				content: " ";
				position: absolute;
				background-color: rgba(0, 0, 0, 0.4);
			    height: 100%;
			    left: 0;
			    top: 0;
			    width: 100%;
			    z-index: 10;
			}

			.container {
				position: relative;
				z-index: 20;

				h1, h2, h3, h4, p {
					color: $white;
				}
			}
		}

		.container {
			max-width: $rich-text-width;

			p:last-child {
				margin-bottom: 0;
			}
		}
		@media (min-width: $breakpoint-md) {
			.container {
				margin: 0 auto;
			}
		}
	}


}



@media (min-width: $breakpoint-md) {
	section {
		margin: $section-spacing 0;
	}
}




