/**
 * Band Pioneer, LLC - October 2023
 * 
 * The SCSS variables stylesheet
 */


/***** FONTS *****/

$root-font-size: 16px;
$normal-font-size: 1.03rem;
$small-font-size: 0.86rem;
$nav-font-size: 0.94rem;

@font-face {
  font-family: "BandPioneerHeader";
  src: url('/assets/fonts/conthrax-sb.woff2') format('woff2'),
       url('/assets/fonts/conthrax-sb.woff') format('woff'); 
  font-display: swap;
}

@mixin defaultFontFamily {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

$font-family: helvetica, sans-serif;
$letter-spacing: 0.01rem;

$header-font-family: 'BandPioneerHeader', sans-serif;
$header-font-spacing: 0.05rem;

$regular-font: 400;
$slightly-bold-font: 500;
$semi-bold-font: 700;
$bold-font: 800;


/***** BREAKPOINTS *****/

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-air: 1180px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


/***** COLORS *****/

$primary-light: #20aae1;
$primary-dark: #131b28;
$secondary-color: #f90215;
$secondary-dark: #d0000e;
$secondary-darker: #bd0a1d;
$alternate-color: #0a79a4;
$light-gray: #F0F3F3;
$medium-gray: #E0E0E0;
$white: #FFFFFF;

$blog-headline-color: #5e5e5e;
$border-color: #e0e0e0; //#e3e7e9;
$darker-border-color: #cccccc;
$caption-color: #626262;
$font-color: #111111;
$error-color: $secondary-color;
$lighter-font-color: #444444;
$lightest-font-color: #777777;
$link-color: $alternate-color;
$link-hover-color: $primary-light;


/***** SPACING *****/

$small-object-spacing: 8px;
$object-spacing: 24px;
$object-padding: 24px;
$object-half-spacing: ($object-spacing / 2);
$gutter-width: 16px;
$paragraph-spacing: 16px;
$section-mobile-spacing: $object-spacing;
$section-spacing: ($object-spacing * 2);


/***** SIZES *****/

$site-width: 1200px;
$blog-width: 800px;
$blog-post-mobile-width: 178px;
$popular-post-mobile-width: 220px;
$popular-post-md-width: 282px;
$header-height: 90px;
$header-sticky-height: 72px;
$header-logo-width: 180px;
$carousel-image-mobile-height: 130px;
$carousel-image-desktop-height: 300px;
$categories-height: 60px;
$categories-sticky-height: 50px;
$category-label-height: 24px;
$category-popup-width: 300px;
$input-height: 50px;
$small-input-height: 40px;
$rich-text-width: 635px;


/***** BORDERS *****/

$container-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
$small-radius: 6px;
$img-radius: 3px;


/***** EFX *****/

$transition-time: 0.3s;



