$site-width: 1100px;
$blog-width: 750px;

$primary-color: #45adda;
$primary-dark: #131b28;
$primary-dark-lighter: lighten($primary-dark, 10%);
$alternate-color: #0a79a4;
$secondary-color: #f90215;
$secondary-dark: #d0000e;
$dark-gray: #6e6e6e;
$light-gray: #e7ebec; //darken(#f1f3f4, 5%);
$white: #FFFFFF;
$gunmetal: #021215;

$font-color: #4f4f4f;
$light-font-color: lighten($font-color, 16%);
$link-color: $alternate-color;
$link-hover-color: $secondary-color; //lighten($primary-dark, 12%);

$border-color: #e3e7e9;
$gradient-border: linear-gradient(to left, #fafafb, #e3e7e9);

$font-size-normal: 1rem;
$font-size-small: 0.875rem;

$semi-bold: 600;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$page-vertical-margin: 70px;
$page-vertical-mobile-margin: 40px;
$mobile-gutter-width: 15px;
// $header-logo-width: 180px;
$header-logo-height: 60px;
$page-header-height: 200px;
$input-height: 40px;

$transition-time: 0.3s;
$transition-default: $transition-time ease-in-out;

$small-border-radius: 4px;

$small-shadow: 0 .125rem .25rem rgba(0,0,0,.15);
$medium-shadow: 0 .25rem .5rem rgba(0,0,0,.15);

$font-family: helvetica, sans-serif;
$header-font-family: 'Michroma', sans-serif;