/**
 * Band Pioneer, LLC 2023
 * 
 * The SCSS variables stylesheet
 */

$root-font-size: 16px; // all rem values will be relative to this.

$site-width: 1050px;
$blog-width: 800px;
$mobile-gutter-width: 15px;

$small-hero-height: 350px;
$large-hero-height: 450px;
$fixed-header-height: 80px; // This is not manually hardcoded
$header-logo-height: 50px;
$page-header-height: 200px;
$input-height: 50px;

$page-vertical-margin: 70px;
$page-vertical-mobile-margin: 40px;

$carousel-image-homepage-height: 130px;
$carousel-image-mobile-height: 130px;
$carousel-image-desktop-height: 300px;

$primary-color: #45adda;
$primary-dark: #131b28;
$primary-dark-lighter: lighten($primary-dark, 10%);
$secondary-color: #f90215;
$secondary-dark: #d0000e;
$alternate-color: #0a79a4;
$dark-gray: #6e6e6e;
$light-gray: #e7ebec; //darken(#f1f3f4, 5%); //#f1f3f4
$white: #FFFFFF;
$gunmetal: #021215;
$light-gray-background: lighten($light-gray, 4%);
$medium-headline-color: #5e5e5e;

$font-color: #4f4f4f;
$light-font-color: lighten($font-color, 16%);
$link-color: $alternate-color;
$link-hover-color: $secondary-color; //lighten($primary-dark, 12%);
$error-color: $secondary-color;

$border-color: #e3e7e9;
$gradient-border: linear-gradient(to left, #fafafb, #e3e7e9);

$font-size-normal: 1rem;
$font-size-small: 0.875rem;
$quote-font-size: 1.1rem;

$normal-weight: 400;
$semi-bold: 600;

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-air: 1180px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$transition-time: 0.3s;
$transition-default: $transition-time ease-in-out;

$small-border-radius: 4px;

$small-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.15);
$medium-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.25);

$font-family: helvetica, sans-serif;
$header-font-family: 'Michroma', sans-serif;
$header-font-spacing: 0.05rem;