{% import '_includes/forms.twig' as forms %}

<style>
    .related-keywords {
        margin-top: 20px;
    }
    .related-keywords p {
        margin: 0.4em 0;
    }
    .related-keywords p i {
        opacity: 0.6;
    }
    .related-keywords [data-id="keyword-input"] {
    	width: 100%;
    }
    @media (min-width: 576px) {
    	.related-keywords [data-id="keyword-input"] {
	    	width: 70%;
	    }
    }
</style>

<script>
	var fetchKeywordAttempt = 0;
	var fetchRelatedAttempt = 0;

	const fetchRelatedKeywords = function()
	{
		const keyword = document.querySelector('[data-id="keyword-input"]').value;

		fetchRelatedAttempt++;

		console.log('fetchRelatedKeywords ' + fetchRelatedAttempt);

		document.querySelector('[data-id="related-keywords"]').innerHTML = 'Fetching related keywords...<br><br>';

		fetch(`/keywords/related?keyword=${keyword}`)
			.then(response => {
				console.log('response');
				console.log(response);
		        if(response.status === 500)
		        {
		        	console.log(fetchRelatedAttempt);

		        	if(fetchRelatedAttempt <= 3)
		        	{
			        	setTimeout(fetchRelatedKeywords, 1000);
			        	return '<p>Server returned 500 error (' + fetchRelatedAttempt + 'x). Fetching again...</p><br>'
			        }
			        else
			        {
		            	return '<p>Server returned 500 error (' + fetchRelatedAttempt + 'x).</p><br>'
		            }
		        }
		        else
		        {
		        	fetchRelatedAttempt = 0;
		        }
		        return response.text();
		    })
			.then(html => {

				document.querySelector('[data-id="related-keywords"]').innerHTML = html;
		})
		.catch(error => {
			document.querySelector('[data-id="related-keywords"]').innerHTML = error;
		});
	}

	const fetchKeywordData = function()
	{
		fetchKeywordAttempt++;

		document.querySelector('[data-id="keyword-data"]').innerHTML = 'Fetching keyword data...<br><br>';

		const keyword = document.querySelector('[data-id="keyword-input"]').value;

		fetch(`/keywords/data?keyword=${keyword}`)
			.then(response => {
		        if(response.status === 500) {
		            return '<p>Server returned 500 error (' + fetchKeywordAttempt + 'x)</p><br>'
		        }
		        else
		        {
		        	fetchKeywordAttempt = 0;
		        }
		        return response.text();
		    })
			.then(html => {

				document.querySelector('[data-id="keyword-data"]').innerHTML = html;
		})
		.catch(error => {
			document.querySelector('[data-id="keyword-data"]').innerHTML = error;
		});
	}

	document.addEventListener("DOMContentLoaded", function()
    {
        // console.log("dom loaded");

        document.querySelector('[data-id="related-keywords-btn"]').addEventListener('click', function(e)
		{
			e.preventDefault();

			fetchRelatedKeywords();
		});

		document.querySelector('[data-id="keyword-data-btn"]').addEventListener('click', function(e)
		{
			e.preventDefault();

			fetchKeywordData();
		});

		setTimeout(fetchKeywordData, 3000);
    });
</script>

<div class="related-keywords">

	<div class="field">
		<div class="heading">
			<label>
				Article Keyword
			</label>
		</div>
		<div class="instructions">
			<p>This article's primary keyword that you want to find related keywords for.</p>
		</div>
		<div class="input">
			<input type="text" data-id="keyword-input" class="text" value="{{ keyword }}">
			<a data-id="keyword-data-btn" class="btn">Get Keyword Data</a>
		</div>
	</div>

	
	<div data-id="keyword-data" class="keyword-data">
	</div>

	<div data-id="related-keywords" class="keyword-data">
	</div>

	<div>
		<a data-id="related-keywords-btn" class="btn">Get Related Keywords</a>
	</div>

</div>

{# errors: field.getErrors('name'), #}