/**
 * Band Pioneer, LLC 2023
 * 
 * The SCSS stylesheet for the authenticated bands site
 */
/**
 * Band Pioneer, LLC 2023
 * 
 * The SCSS variables stylesheet
 */
body {
  padding-top: 80px;
  background-color: #e7ebec;
}
body main {
  margin-top: 20px !important;
}

header.site-header .container nav.main-menu ul li a svg {
  transform: scale(1.3);
}

.flash-error, .flash-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 90;
  top: 78px;
  left: 0;
  height: 35px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  animation: fade-flash-error 1s 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes fade-flash-error {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
.flash-error.flash-error, .flash-notice.flash-error {
  background-color: #d0000e;
  animation-delay: 12s;
}
.flash-error.flash-notice, .flash-notice.flash-notice {
  background-color: #6e6e6e;
  animation-delay: 3s;
}

.vhs-player {
  position: relative;
  padding-bottom: 56.25%;
}
.vhs-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bands-container {
  max-width: 1100px;
  margin: 0 20px;
  padding-bottom: 80px;
}
.bands-container.dashboard {
  display: grid;
  gap: 20px;
  grid-template-areas: "s1" "s2";
}
.bands-container.dashboard section {
  grid-area: s1;
}
.bands-container.dashboard section + section {
  grid-area: s2;
}
.bands-container.dashboard section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03), 0 7px 14px rgba(0, 17, 35, 0.03);
}
.bands-container.dashboard section h3 {
  font-family: "Michroma", sans-serif;
  margin: 0 0 20px 0;
  color: #0a79a4;
}
.bands-container.dashboard section p {
  margin: 10px 0;
}
.bands-container.dashboard section a.link-symbol {
  font-size: 1.05rem;
  font-weight: bold;
  vertical-align: middle;
  transform: rotate(90deg);
  display: inline-block;
}
.bands-container.dashboard section .action-icon svg {
  width: 16px;
  height: 16px;
  fill: #0a79a4;
}
.bands-container.dashboard section .file-upload {
  display: block !important;
}
.bands-container.dashboard section .file-upload input {
  display: none;
}
.bands-container.dashboard section .file-upload label span {
  font-weight: 400;
}
.bands-container.dashboard section .file-upload .btn {
  display: inline-flex;
}
.bands-container.dashboard section .data-container {
  position: relative;
  margin: 20px 0 0 0;
}
.bands-container.dashboard section .data-container + .data-container {
  border-top: solid 2px #e7ebec;
  padding: 20px 0 0 0;
}
.bands-container.dashboard section .data-container:first-child {
  grid-area: s1;
}
.bands-container.dashboard section .data-container:nth-child(2) {
  grid-area: s2;
}
.bands-container.dashboard section .data-container h4 {
  color: #6e6e6e;
}
.bands-container.dashboard section .data-container .link-symbol {
  font-size: 1.05rem;
  font-weight: bold;
  vertical-align: middle;
  transform: rotate(90deg);
  display: inline-block;
}
.bands-container.dashboard section .data-container .btn,
.bands-container.dashboard section .data-container button {
  margin: 10px 0 0 0;
  height: 40px;
  font-size: 0.875rem;
}
.bands-container.dashboard section .data-container .btn.alt-btn,
.bands-container.dashboard section .data-container button.alt-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.bands-container.dashboard section .data-container .edit-field .dual-inputs {
  display: grid;
  gap: 10px;
  grid-template-areas: "i1 s1 i2 s2";
  grid-template-columns: auto min-content auto min-content;
  align-items: baseline;
}
.bands-container.dashboard section .data-container .edit-field .dual-inputs input {
  grid-area: i2;
}
.bands-container.dashboard section .data-container .edit-field .dual-inputs input:first-child {
  grid-area: i1;
}
.bands-container.dashboard section .data-container .edit-field .dual-inputs span {
  grid-area: s1;
}
.bands-container.dashboard section .data-container .edit-field .dual-inputs span:last-child {
  grid-area: s2;
}
.bands-container.dashboard section .data-container .edit-field .checkboxes label {
  display: inline-block;
  margin: 8px 0 0 0;
  width: 125px;
  white-space: nowrap;
}
.bands-container.dashboard section .data-container .edit-field .checkboxes label input[type=checkbox] {
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
}
.bands-container.dashboard section .data-container .data-view {
  display: none;
}
.bands-container.dashboard section .data-container .data-view.show {
  display: block;
}
.bands-container.dashboard section .data-container .data-view img {
  max-width: 100%;
  max-height: 100px;
}
.bands-container.dashboard section .data-container .data-view label {
  display: block;
  font-weight: 600;
}
.bands-container.dashboard section .data-container form {
  display: none;
}
.bands-container.dashboard section .data-container form.show {
  display: block;
}
.bands-container.dashboard section .data-container form .edit-field {
  padding: 20px 0;
  border-top: solid 2px #e7ebec;
}
.bands-container.dashboard section .data-container form .edit-field label {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
}
.bands-container.dashboard section .data-container form .edit-field label + p {
  font-size: 0.875rem;
  line-height: 1.1rem;
  margin: 5px 0;
}
.bands-container.dashboard section .data-container form .edit-field input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  margin: 5px 0 0 0;
  font-size: 0.875rem;
}
.bands-container.dashboard section .data-container form .edit-field [data-prefix] {
  width: 50%;
  padding-left: 20px;
  position: relative;
  background-color: #e7ebec;
  border-radius: 4px;
}
.bands-container.dashboard section .data-container form .edit-field [data-prefix]:before {
  display: block;
  content: attr(data-prefix);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.bands-container.dashboard section .data-container form .edit-field textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 0 20px 0;
  font-size: 0.875rem;
  resize: vertical;
}
.bands-container.dashboard section .data-container #epk-videos > strong {
  display: block;
}
.bands-container.dashboard section .data-container #epk-videos > div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 20px 0;
}
.bands-container.dashboard section .data-container #epk-videos > div > div label {
  display: block;
  margin: 0 0 10px 0;
}
.bands-container.dashboard section .data-container #epk-videos > div > div label .action-icon {
  float: right;
}
.bands-container.dashboard section .data-container #epk-images > strong {
  display: block;
}
.bands-container.dashboard section .data-container #epk-images > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin: 20px 0;
}
.bands-container.dashboard section .data-container #epk-images > div > div {
  position: relative;
  border-radius: 4px;
  border: solid 2px #e7ebec;
  padding: 10px;
  text-align: center;
}
.bands-container.dashboard section .data-container #epk-images > div > div img {
  height: 100px;
}
.bands-container.dashboard section .data-container #epk-images > div > div label {
  display: block;
  font-size: 0.875rem;
  margin-top: 5px;
}
.bands-container.dashboard section .data-container #epk-images > div > div .action-icon {
  position: absolute;
  top: -6px;
  right: -6px;
}

@media (min-width: 768px) {
  body main {
    margin-top: 40px !important;
  }
  .bands-container {
    margin: 0 auto;
  }
  .bands-container.dashboard {
    grid-template-areas: "s1 s2 s2";
  }
}
