/**
 * Band Pioneer, LLC 2023
 * 
 * The SCSS variables stylesheet
 */
/**
 * Band Pioneer, LLC 2023
 * 
 * The primary SCSS stylesheet for the public website
 */
html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 1rem;
  color: #4f4f4f;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01rem;
  height: 100%;
}
body footer {
  align-self: end;
}

* {
  box-sizing: border-box;
}

.narrow-container {
  max-width: 750px !important;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-dark-blue {
  color: #131b28;
}

.mb-40 {
  margin-bottom: 40px;
}

.hide {
  display: none !important;
}

.font-normal {
  font-weight: 400;
}

ul, ol {
  margin: 0;
  padding: 0;
}
ul li, ol li {
  margin: 10px 0;
}

ul {
  list-style: none;
}

h1, .section-title {
  font-family: "Michroma", sans-serif;
  letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 30px 0 15px 0;
}
h1.section-title, h2.section-title, h3.section-title, h4.section-title, h5.section-title, h6.section-title {
  text-transform: uppercase;
  position: relative;
  margin: 30px 0;
}
h1.section-title:after, h2.section-title:after, h3.section-title:after, h4.section-title:after, h5.section-title:after, h6.section-title:after {
  background: linear-gradient(to left, #fafafb, #e3e7e9);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
}
h1.section-title span, h2.section-title span, h3.section-title span, h4.section-title span, h5.section-title span, h6.section-title span {
  background-color: #FFFFFF;
  padding: 0 15px 0 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

h2,
.ordered-title h4 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

h3, h4 {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p {
  font-size: 1rem;
  line-height: 1.55rem;
}

a {
  text-decoration: none;
  color: #0a79a4;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #f90215;
}
a.underline {
  text-decoration: none;
  color: #0a79a4;
  transition: color 0.3s ease-in-out;
  position: relative;
}
a.underline:after {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  content: "";
  height: 2px;
  display: block;
  background-color: #f90215;
}
a.underline:hover {
  color: #f90215;
}
a.underline:hover:after {
  left: 0;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 15px;
}
.container.page {
  margin: 40px 15px;
}
.container.page p + figure,
.container.page figure + p {
  margin-top: 30px;
}

.logo {
  display: flex;
  height: 50px;
  align-self: center;
}
.logo img {
  height: 100%;
  width: auto;
}

section.blog {
  margin-top: 80px;
}
section.description {
  padding: 10px 0;
  text-align: center;
}
section.description h2, section.description h3 {
  text-transform: capitalize;
  color: #0a79a4;
  margin-bottom: 20px;
}
section.bands .band-carousel {
  padding: 12px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
section.bands .band-carousel .band-slider {
  position: relative;
}
section.bands .band-carousel .band-slider .slide {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0 6px;
}
section.bands .band-carousel .band-slider .slide img {
  height: 130px;
  width: auto;
  border-radius: 2px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  border: solid 5px #FFFFFF;
}

#about section.bands {
  margin: -50px 0 0 0;
}
#about section.bands .band-carousel {
  padding: 30px 0;
}

@keyframes slide-down-header {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
#homepage header.site-header.sticky .logo img.logo-alt {
  display: inline;
}
#homepage header.site-header.sticky .logo img.logo-mark {
  display: none;
}
#homepage header.site-header .logo:hover img.logo-mark {
  transform: translate(0, 10px) !important;
}
#homepage header.site-header .logo img.logo-alt {
  display: none;
}
#homepage header.site-header .logo img.logo-mark {
  display: inline;
}

#contact .ask-a-question {
  margin: 0 13% 0 10%;
}

.ask-a-question {
  text-align: center;
}
.ask-a-question h1 {
  margin: 40px 0 15px 0;
  color: #0a79a4;
}
.ask-a-question h2 {
  margin: 0 0 15px 0;
  font-weight: 400;
  color: #0a79a4;
}
.ask-a-question .btn {
  margin-top: 25px;
}

header.site-header {
  padding: 10px 0;
}
header.site-header .logo img.logo-alt {
  display: inline;
}
header.site-header .container {
  display: grid;
  grid-template-columns: 30% 70%;
}
header.site-header .container .bars {
  width: 30px;
  height: 30px;
  align-self: start;
  justify-self: end;
}
header.site-header .container .bars:hover svg {
  fill: #45adda;
}
header.site-header .container .bars svg {
  width: 100%;
  fill: #FFFFFF;
  transition: fill 0.3s ease-in-out;
}
header.site-header .container nav.main-menu {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  text-align: right;
  padding: 20px 28px;
  background-color: #0a79a4;
  border-radius: 0 0 0 4px;
  display: none;
}
header.site-header .container nav.main-menu.show {
  display: block;
}
header.site-header .container nav.main-menu .close-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
}
header.site-header .container nav.main-menu .close-menu:hover svg {
  fill: #45adda;
}
header.site-header .container nav.main-menu .close-menu svg {
  fill: #FFFFFF;
  width: 100%;
}
header.site-header .container nav.main-menu ul li {
  margin: 15px 0;
}
header.site-header .container nav.main-menu ul li.dropdown-menu {
  position: relative;
}
header.site-header .container nav.main-menu ul li.dropdown-menu a svg {
  width: 12px;
}
header.site-header .container nav.main-menu ul li.dropdown-menu ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 15px 20px;
  background-color: #0a79a4;
  border-radius: 4px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
header.site-header .container nav.main-menu ul li.dropdown-menu ul.show {
  display: block;
}
header.site-header .container nav.main-menu ul li.dropdown-menu ul:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 10px solid #0a79a4;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}
header.site-header .container nav.main-menu ul li.dropdown-menu ul li {
  display: block;
  margin: 10px 0;
}
header.site-header .container nav.main-menu ul li.dropdown-menu ul li a {
  white-space: nowrap;
}
header.site-header .container nav.main-menu ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}
header.site-header .container nav.main-menu ul li a:after {
  background-color: #45adda;
}
header.site-header .container nav.main-menu ul li a svg {
  vertical-align: text-top;
}
header.site-header .reading-time {
  background-color: #e7ebec;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
header.site-header .reading-time .reading-progress {
  transition: width 0.05s;
  width: 0;
  height: 100%;
  background: linear-gradient(to top, #d0000e, #f90215);
}

body.fixed-header main {
  margin-top: 85px;
}

body.fixed-header header.site-header,
header.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #131b28;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  animation-name: slide-down-header;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.page-header {
  background-color: #131b28;
  height: 200px;
  display: grid;
}
.page-header h1, .page-header h2 {
  color: #45adda;
  text-align: center;
  align-self: start;
  margin: -30px 0 0 0;
}
.page-header .main-logo {
  justify-self: center;
  height: auto;
  width: 70%;
  max-width: 360px;
}
.page-header.hero {
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page-header.hero header.site-header {
  z-index: 100;
}
.page-header.hero h1 {
  z-index: 20;
}
.page-header.hero:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #131b28;
  padding: 80px 0;
  margin: 80px 0 0 0;
}
footer .logo {
  height: 140px;
}
footer .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
footer .container nav {
  align-self: center;
  text-align: right;
  margin: 25px 30px 0 10px;
}
footer .container nav ul {
  text-align: center;
}
footer .container nav ul.blog-categories {
  margin-top: 18px;
}
footer .container nav ul li {
  display: inline;
  margin: 0 10px;
  text-align: center;
}
footer .container nav ul li a {
  color: #FFFFFF !important;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}
footer .container nav ul li a:after {
  background-color: #45adda;
}
footer .container nav .copyright {
  color: #FFFFFF;
  font-size: 0.875rem;
  opacity: 0.65;
}
footer .container nav .copyright li {
  text-align: center;
  display: block;
  margin: 25px 0 0 0;
}
footer .container nav .copyright li:not(:first-child) {
  margin: 6px 0 0 0;
}

.pagination {
  margin: 60px 0;
  text-align: center;
}
.pagination a {
  opacity: 1 !important;
}
.pagination a:hover.page-arrow svg path {
  fill: #f90215;
}
.pagination a.page-arrow svg path {
  fill: #0a79a4;
  transition: fill 0.3s ease-in-out;
}
.pagination a,
.pagination span {
  vertical-align: middle;
  opacity: 0.75;
}
.pagination a.page-arrow,
.pagination span.page-arrow {
  margin: 0 8px;
}
.pagination a.page-arrow.first svg, .pagination a.page-arrow.prev svg,
.pagination span.page-arrow.first svg,
.pagination span.page-arrow.prev svg {
  transform: rotate(180deg);
}
.pagination a.page-arrow.prev,
.pagination span.page-arrow.prev {
  margin: 0 20px 0 12px;
}
.pagination a.page-arrow.next,
.pagination span.page-arrow.next {
  margin: 0 12px 0 20px;
}
.pagination a.page-arrow svg,
.pagination span.page-arrow svg {
  margin: 0 -13px;
}

figure {
  margin: 0 auto;
}
figure.image.top-margin {
  margin-top: 100px;
}
figure.image.bottom-margin {
  margin-bottom: 100px;
}
figure.image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
figure.video .player {
  position: relative;
  padding-bottom: 56.25%;
}
figure.video .player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
figure figcaption {
  font-size: 0.875rem;
  line-height: 1.35rem;
  color: #787878;
  margin: 5px 0 0 0;
  text-align: center;
}

#homepage .page-header,
.category .page-header {
  height: 350px;
  background-color: #021215;
  background-image: url(/assets/images/bp-music-studio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#homepage .page-header header.site-header,
.category .page-header header.site-header {
  z-index: 100;
}
#homepage .page-header h1,
.category .page-header h1 {
  z-index: 20;
}
@keyframes markfloating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logointro {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes markintro {
  0% {
    transform: translate(-500px, 0);
    opacity: 0;
  }
  30% {
    transform: translate(-500px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
#homepage .page-header .main-logo,
.category .page-header .main-logo {
  z-index: 10;
  opacity: 1;
  transform: scale(1);
  animation-name: logointro;
  animation-duration: 1700ms;
  animation-timing-function: ease-in-out;
}
#homepage .page-header .logo,
.category .page-header .logo {
  transform: translate(0, 0);
  animation-name: markintro;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}
#homepage .page-header .logo img.logo-mark,
.category .page-header .logo img.logo-mark {
  animation-name: markfloating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#homepage .page-header:after,
.category .page-header:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#search-results h2 {
  margin: 40px 0;
}

#homepage .page-header {
  height: 350px;
  background-image: url(/assets/images/free-playing-jazz-bass.jpg);
  background-position: center 30%;
}
#homepage .page-header:after {
  background-color: rgba(0, 0, 0, 0.25);
}
#homepage section.bands {
  margin: 90px 0 -110px 0;
}
#homepage section.bands .band-carousel .band-slider .slide img {
  height: 130px;
  filter: grayscale(100%) brightness(1.15) contrast(0.9);
}

.category .page-header {
  height: 350px;
  background-position: center center;
  background-image: url(/assets/images/free-playing-jazz-bass.jpg);
}

.pages section {
  margin: 60px 0;
}
.pages section figure img {
  width: 100%;
  height: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button,
input[type=submit],
.btn {
  border: none;
  border-radius: 4px;
  background-color: #0a79a4;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  min-width: 120px;
  padding: 0 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  text-transform: uppercase;
}
button.alt-btn,
input[type=submit].alt-btn,
.btn.alt-btn {
  background-color: transparent;
  border: solid 2px #0a79a4;
  color: #0a79a4;
}
button.gray-btn,
input[type=submit].gray-btn,
.btn.gray-btn {
  background-color: #e7ebec;
  color: #4f4f4f;
}
button:hover,
input[type=submit]:hover,
.btn:hover {
  background-color: #f90215;
  color: #FFFFFF;
  border-color: #f90215;
}
button:hover.gray-btn,
input[type=submit]:hover.gray-btn,
.btn:hover.gray-btn {
  background-color: #cbd3d5;
  color: #4f4f4f;
}

form input:not([name=q]):not([type=checkbox]),
form textarea,
form button,
form .btn {
  padding: 0 25px;
  height: 50px;
  border-radius: 4px;
  font-family: helvetica, sans-serif;
}
form input:not([type=submit]),
form textarea {
  border: 0;
  outline: 0;
  border-bottom: solid 2px #e3e7e9;
  background-color: #edf0f1;
}
form input:not([type=submit]):focus,
form textarea:focus {
  border-color: #d5dbde;
  background-color: #e7ebec;
}
form textarea {
  padding-top: 18px;
  height: 150px;
}
form .errors {
  color: #f90215;
  font-weight: 600;
  font-size: 0.875rem;
}
form.login-form {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #e3e7e9;
  border-radius: 4px;
  padding: 35px;
}
form.login-form h3 {
  margin: 0 0 35px 0;
}
form.login-form input {
  margin-bottom: 35px;
  display: block;
  width: 100%;
}
form.login-form .errors {
  text-align: center;
  margin: -25px 0 20px 0;
}
form.login-form button {
  width: 100%;
}
form.login-form label {
  font-size: 0.875rem;
  display: block;
  margin: 25px 0 0 0;
  text-align: center;
}
form.contact-form {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-areas: "h3" "fn" "em" "pn" "cm" "er" "bt";
}
form.contact-form h3 {
  grid-area: h3;
  text-align: center;
}
form.contact-form input[name=fromName] {
  grid-area: fn;
}
form.contact-form input[name=fromEmail] {
  grid-area: em;
}
form.contact-form input[name=phone] {
  grid-area: pn;
}
form.contact-form textarea {
  grid-area: cm;
}
form.contact-form button {
  grid-area: bt;
  width: 100%;
}
form.contact-form .errors {
  grid-area: er;
  color: #f90215;
  font-weight: 600;
}

@media (min-width: 1130px) {
  .container {
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  #homepage .page-header {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .display-md {
    display: none !important;
  }
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.7rem;
  }
  h2,
  .ordered-title h4 {
    font-size: 1.9rem;
    line-height: 2.65rem;
  }
  h1 + h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  #homepage .page-header {
    height: 500px;
  }
  .container.page {
    margin: 70px auto;
  }
  header.site-header .container .bars {
    display: none;
  }
  header.site-header .container nav.main-menu {
    display: flex;
    position: static;
    background-color: transparent;
    align-items: center;
    justify-content: end;
  }
  header.site-header .container nav.main-menu .close-menu {
    display: none;
  }
  header.site-header .container nav.main-menu ul {
    display: inline-block;
  }
  header.site-header .container nav.main-menu ul li {
    display: inline-block;
    margin: 0 6px;
    vertical-align: top;
  }
  header.site-header .container nav.main-menu ul li.hide-md {
    display: none;
  }
  header.site-header .container nav.main-menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  header.site-header .container nav.main-menu ul li a:after {
    background-color: #45adda;
  }
  header.site-header .container nav.main-menu ul li a#search.show svg {
    margin: 0 -17px -1px 0;
  }
  header.site-header .container nav.main-menu ul li a#search.show input {
    width: 180px;
    padding: 3px 0 3px 20px;
  }
  header.site-header .container nav.main-menu ul li a#search svg {
    margin: 0 0 -1px 0;
    transition: fill 0.3s ease-in-out;
  }
  header.site-header .container nav.main-menu ul li a#search input {
    transition: width 0.3s ease-in-out;
    width: 0;
    background: transparent;
    border: 0;
    border-bottom: solid 2px #45adda;
    padding: 3px 0;
    outline: 0;
    font-size: 0.875rem;
    color: #FFFFFF;
    caret-color: #FFFFFF;
  }
  header.site-header .container nav.main-menu ul li a#search input::-moz-placeholder {
    color: #45adda;
  }
  header.site-header .container nav.main-menu ul li a#search input::placeholder {
    color: #45adda;
  }
  header.site-header .container nav.main-menu ul li a svg {
    height: 15px;
    width: 15px;
    fill: #FFFFFF;
  }
  form.contact-form {
    max-width: 750px;
    margin: 60px auto;
    display: grid;
    gap: 20px;
    grid-template-areas: "h3 h3 h3 h3" "fn fn fn fn" "em em pn pn" "cm cm cm cm" "er er er bt";
  }
  form.contact-form button {
    justify-self: end;
  }
  form.contact-form .errors {
    align-self: center;
  }
  body:not(#homepage) section.bands .band-carousel .band-slider .slide img {
    height: 300px;
  }
}
@media (min-width: 992px) {
  #homepage .page-header {
    height: 450px;
  }
  #contact .ask-a-question {
    margin-bottom: -90px;
    padding: 0 33% 0 6%;
    height: 400px;
  }
  .ask-a-question {
    height: 470px;
    margin: 0 0 -90px 0;
    padding: 0 33% 0 7%;
    background-image: url(/assets/images/guy-thinking.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  header.site-header .container nav.main-menu ul li {
    margin: 0 10px;
  }
  section.description {
    padding: 1px 5% 8px 5%;
  }
  section.description h2, section.description h3 {
    position: relative;
  }
  section.description h2:before, section.description h2:after, section.description h3:before, section.description h3:after {
    background-color: #e7ebec;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    width: 48%;
    height: 4px;
  }
  section.description h2:before, section.description h3:before {
    left: 0;
  }
  section.description h2:after, section.description h3:after {
    left: 50%;
  }
  section.description h2 span, section.description h3 span {
    font-family: "Michroma", sans-serif;
    letter-spacing: 0.05rem;
    background-color: #FFFFFF;
    padding: 0 16px;
    font-weight: 400;
  }
  footer .container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: none;
    padding: 0 10px;
  }
  footer .container nav {
    justify-self: end;
    margin: 0;
  }
  footer .container nav ul {
    text-align: right;
  }
  footer .container nav ul li {
    margin: 0 0 0 25px;
  }
  footer .container nav .copyright li {
    text-align: right;
    margin: 18px 0 0 0;
  }
}
.categories {
  margin: 0 0 40px 0;
  background-color: #e7ebec;
}
.categories nav ul {
  text-align: center;
}
.categories nav ul li {
  margin: 0;
  display: inline-block;
}
.categories nav ul li a {
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #5c5c5c;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  padding: 0 15px;
}
.categories nav ul li a:hover {
  color: #0a79a4;
}
.categories nav ul li a:after {
  position: absolute;
  right: 0;
  height: 3px;
  bottom: 0;
  z-index: 0;
  background-color: #0a79a4;
}
.categories nav ul li a.active {
  color: #131b28;
  cursor: default;
}
.categories nav ul li a.active:after {
  display: none;
}
.categories nav ul li a span {
  z-index: 1;
}
.categories #category-description {
  display: flex;
  align-items: center;
  background-color: #f5f7f7;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: #45adda;
  color: #FFFFFF;
}
.categories #category-description.show {
  height: 130px;
  opacity: 1;
}
.categories #category-description .container {
  max-width: 800px;
}
.categories #category-description .container h3 {
  margin: -5px 0 10px 0;
}
.categories #category-description .container a {
  color: #FFFFFF;
}

address[rel=author] {
  font-size: 0.875rem;
}
address[rel=author] img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
address[rel=author] span {
  vertical-align: sub;
}
address[rel=author] a {
  color: #4f4f4f;
}
address[rel=author] a:hover {
  color: #0a79a4;
}

/******************************/
/***** BLOG LISTING PAGES *****/
/******************************/
article.featured {
  margin: 0 0 60px 0;
}
article.featured .blog-image {
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
article.featured .blog-image:hover {
  opacity: 0.95;
}
article.featured .blog-image img {
  filter: brightness(100%);
}
article.featured .blog-image .blog-image-info {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
article.featured .blog-image .blog-image-info h2 {
  margin: 0 0 15px 0;
  color: #FFFFFF;
}
article.featured .blog-image .blog-image-info p {
  margin: 0;
  color: #FFFFFF;
}
article.featured .blog-image .blog-image-info address {
  color: #FFFFFF;
  margin: 0 0 15px 0;
}
article .blog-image {
  display: block;
  line-height: 0;
}
article .blog-image:hover img {
  filter: brightness(110%);
}
article .blog-image img {
  width: 100%;
  height: auto;
  filter: brightness(95%);
  transition: filter 0.3s ease-in-out;
}
article .blog-info {
  margin: 20px 0;
  position: relative;
}
article .blog-info svg {
  position: absolute;
  top: 1px;
  width: 15px;
  fill: #0a79a4;
}
article .blog-info h3 {
  margin-top: 15px;
}
article .blog-info ul {
  padding: 0 0 0 20px;
}
article .blog-info ul li {
  margin: 0;
  display: inline;
}
article .blog-info ul li a {
  font-size: 0.875rem;
}
article .blog-info ul li span {
  font-size: 0.875rem;
  color: #0a79a4;
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 40px;
}
.blog-posts article {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
.blog-posts article .blog-info {
  margin: 20px 25px;
}

/*****************************/
/***** BLOG DETAIL PAGES *****/
/*****************************/
.blog header .logo img.logo-alt {
  display: inline !important;
}
.blog header .logo img.logo-mark {
  display: none;
}
.blog .featured-image {
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.blog address + .social-sharing {
  margin: 20px 0;
  height: 32px;
  text-align: left !important;
}
.blog .featured-snippet {
  margin: 50px 0;
  padding: 30px;
  color: #474747;
  background-color: #f0f2f3;
  border-radius: 4px;
}
.blog .featured-snippet h2, .blog .featured-snippet h3, .blog .featured-snippet p {
  display: inline;
  margin: 0;
}
.blog .table-of-contents {
  margin: 50px 0;
  padding: 0 0 30px 0;
  position: relative;
}
.blog .table-of-contents:after {
  background: linear-gradient(to left, #fafafb, #e3e7e9);
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
}
.blog .table-of-contents ul li {
  margin: 15px 30px;
}
.blog .table-of-contents ul li a {
  text-transform: capitalize;
}
.blog .related-content {
  grid-template-columns: 1fr;
  gap: 25px;
}
.blog .related-content article img {
  width: 115%;
}
.blog .related-content article .blog-info {
  margin: 12px 15px;
}
.blog .related-content article .blog-info h4 {
  margin: 12px 0 6px 0;
}
.blog .related-content article .blog-info h4 a span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.55rem;
  margin: 5px 0 0 0;
}
.blog .related-categories {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.blog .related-categories a {
  display: inline-flex;
  margin: 10px;
  padding: 0 25px;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  background-color: #e7ebec;
}
.blog .related-categories a:hover {
  background-color: #0a79a4;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.blog section {
  margin: 30px 0;
}
.blog section.rich-text + .rich-text {
  margin-top: -20px;
}
.blog section.rich-text ul, .blog section.rich-text ol {
  list-style: disc;
  list-style-position: outside;
  margin-left: 32px;
}
.blog section.rich-text ul li, .blog section.rich-text ol li {
  line-height: 1.5rem;
}
.blog section.embed-code .table {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 3px;
  border-radius: 4px;
  overflow: hidden;
}
.blog section.embed-code .table > div {
  padding: 12px;
  background-color: #f2f4f5;
}
.blog section.embed-code .table > div.title {
  background-color: #e7ebec;
  font-weight: 600;
}
.blog section.embed-code .table > div.subtitle {
  font-weight: 600;
}
.blog section .section-anchor {
  transform: translateY(-120px);
}
.blog h1 {
  text-transform: capitalize;
  margin: 25px 0;
  font-size: 2.1rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
}
.blog h1 + h2 {
  margin: -20px 0 25px 0;
  font-weight: 400;
  font-family: "Michroma", sans-serif;
  letter-spacing: 0.05rem;
}
.blog h2 {
  text-transform: capitalize;
  margin: 40px 0 0 0;
}
.blog .ordered-title {
  margin: 40px 0 0 0;
}
.blog .ordered-title h2, .blog .ordered-title h4 {
  margin: 0;
  display: inline;
}
.blog address {
  margin: -5px 0 25px 0;
}

/*************************/
/***** BLOG COMMENTS *****/
/*************************/
.blog-comments {
  background-color: #e7ebec;
  padding: 60px 0;
  margin: 60px 0;
}
.blog-comments h2, .blog-comments h3 {
  margin: 0 0 50px 0;
  font-family: "Michroma", sans-serif;
  letter-spacing: 0.05rem;
}
.blog-comments h4 {
  margin: 0 0 10px 0;
  font-weight: 400;
}
.blog-comments .cc-w input, .blog-comments .cc-w textarea {
  font-size: 1rem;
  font-family: helvetica, sans-serif;
  border-color: #d5dbde;
}
.blog-comments .cc-w input:focus, .blog-comments .cc-w textarea:focus {
  background-color: #FFFFFF;
}
.blog-comments .cc-w a, .blog-comments .cc-w .cc-i-delete {
  color: #0a79a4;
  font-weight: 600;
  text-transform: uppercase;
  min-width: auto;
}
.blog-comments .cc-w a:hover, .blog-comments .cc-w .cc-i-delete:hover {
  color: #f90215;
}
.blog-comments .cc-w button {
  font-family: helvetica, sans-serif;
}
.blog-comments .cc-w button.cc-f-btn {
  font-size: 0.875rem;
  border: none;
  background-color: #45adda;
  color: #e7ebec;
  padding: 0 25px;
}
.blog-comments .cc-w button.cc-f-btn:hover {
  background-color: #f90215;
}
.blog-comments .cc-w .cc-i {
  border-width: 2px;
  border-color: #d5dbde;
}
.blog-comments .cc-w .cc-ll-i:before {
  content: " ";
}
.blog-comments .cc-w .cc-i-image-icon:after {
  background-color: transparent;
  background-image: url(https://bandpioneer.com/assets/images/bp-mark.png);
}

/*************************/
/***** MEDIA QUERIES *****/
/*************************/
@media (min-width: 375px) {
  .blog .related-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 576px) {
  .blog .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .blog .container {
    margin: 0 auto;
  }
  .blog .related-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog address + .social-sharing {
    margin: -50px 0 15px 0;
    text-align: right !important;
  }
  .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .blog h2 {
    margin: 65px 0 0 0;
  }
  .blog h3 {
    margin: 45px 0 20px 0;
  }
  .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
  article.featured .blog-image .blog-image-info p {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  article.featured .blog-image .blog-image-info p {
    width: 65%;
  }
}
.ezoic-ad {
  margin: 40px auto !important;
}

.ezmob-footer .ezoic-ad {
  margin: 0 0 !important;
}
.ezmob-footer .ezoic-ad .ezoic-ad {
  margin: 0 0 !important;
}
