html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  color: #4f4f4f;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 10px 0;
}

h1, .section-title {
  font-family: "Michroma", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
}
h1.section-title, h2.section-title, h3.section-title, h4.section-title, h5.section-title, h6.section-title {
  text-transform: uppercase;
  position: relative;
  margin: 30px 0;
}
h1.section-title:after, h2.section-title:after, h3.section-title:after, h4.section-title:after, h5.section-title:after, h6.section-title:after {
  background: linear-gradient(to left, #fafafb, #e3e7e9);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
}
h1.section-title span, h2.section-title span, h3.section-title span, h4.section-title span, h5.section-title span, h6.section-title span {
  background-color: #FFFFFF;
  padding: 0 15px 0 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #0a79a4;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #f90215;
}
a.underline {
  text-decoration: none;
  color: #0a79a4;
  transition: color 0.3s ease-in-out;
  position: relative;
}
a.underline:after {
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  content: "";
  height: 2px;
  display: block;
  background-color: #f90215;
}
a.underline:hover {
  color: #f90215;
}
a.underline:hover:after {
  left: 0;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 15px;
}

.logo {
  display: block;
  width: 180px;
}
.logo img {
  width: 100%;
}

@keyframes slide-down-header {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
header {
  padding: 10px 0;
}
header .container {
  display: grid;
  grid-template-columns: 30% 70%;
}
header .container .bars {
  width: 30px;
  height: 30px;
  align-self: start;
  justify-self: end;
}
header .container .bars:hover svg {
  fill: #45adda;
}
header .container .bars svg {
  width: 100%;
  fill: #FFFFFF;
  transition: fill 0.3s ease-in-out;
}
header .container nav.main-menu {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  text-align: right;
  padding: 20px;
  background-color: #23324b;
  border-radius: 0 0 0 4px;
  display: none;
}
header .container nav.main-menu.show {
  display: block;
}
header .container nav.main-menu .close-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
}
header .container nav.main-menu .close-menu:hover svg {
  fill: #45adda;
}
header .container nav.main-menu .close-menu svg {
  fill: #FFFFFF;
  width: 100%;
}
header .container nav.main-menu ul li {
  margin: 15px 0;
}
header .container nav.main-menu ul li a {
  color: #FFFFFF;
}
header .reading-time {
  background-color: #0a79a4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
header .reading-time .reading-progress {
  transition: width 0.05s;
  width: 0;
  height: 100%;
  background: linear-gradient(to top, #d0000e, #f90215);
}

body.fixed-header main {
  margin-top: 85px;
}

body.fixed-header header,
header.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #131b28;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  animation-name: slide-down-header;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.page-header {
  background-color: #131b28;
  height: 200px;
  overflow: auto;
  display: grid;
}
.page-header h1 {
  color: #45adda;
  text-align: center;
  align-self: start;
  margin: -30px 0 0 0;
}
.page-header .main-logo {
  justify-self: center;
  width: 70%;
  max-width: 420px;
}

footer {
  background-color: #131b28;
  padding: 80px 0;
  margin: 80px 0 0 0;
}
footer .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
footer .container nav {
  align-self: center;
  text-align: right;
  margin: 25px 0 0 0;
}
footer .container nav ul {
  text-align: center;
}
footer .container nav ul li {
  display: inline;
  margin: 0 10px;
  text-align: center;
}
footer .container nav ul li a {
  color: #FFFFFF !important;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}
footer .container nav ul li a:after {
  background-color: #45adda;
}
footer .container nav .copyright {
  color: #FFFFFF;
  font-size: 0.875rem;
  opacity: 0.65;
}
footer .container nav .copyright li {
  text-align: center;
  display: block;
  margin: 25px 0 0 0;
}

.pagination {
  margin: 60px 0;
  text-align: center;
}
.pagination a {
  opacity: 1 !important;
}
.pagination a:hover.page-arrow svg path {
  fill: #f90215;
}
.pagination a.page-arrow svg path {
  fill: #0a79a4;
  transition: fill 0.3s ease-in-out;
}
.pagination a,
.pagination span {
  vertical-align: middle;
  opacity: 0.75;
}
.pagination a.page-arrow,
.pagination span.page-arrow {
  margin: 0 8px;
}
.pagination a.page-arrow.first svg, .pagination a.page-arrow.prev svg,
.pagination span.page-arrow.first svg,
.pagination span.page-arrow.prev svg {
  transform: rotate(180deg);
}
.pagination a.page-arrow.prev,
.pagination span.page-arrow.prev {
  margin: 0 20px 0 12px;
}
.pagination a.page-arrow.next,
.pagination span.page-arrow.next {
  margin: 0 12px 0 20px;
}
.pagination a.page-arrow svg,
.pagination span.page-arrow svg {
  margin: 0 -13px;
}

#homepage .page-header,
.category .page-header {
  height: 350px;
  background-color: #021215;
  background-image: url(/assets/images/bp-music-studio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#homepage .page-header header,
.category .page-header header {
  z-index: 100;
}
#homepage .page-header h1,
.category .page-header h1 {
  z-index: 20;
}
#homepage .page-header .main-logo,
.category .page-header .main-logo {
  z-index: 10;
}
#homepage .page-header:after,
.category .page-header:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#search-results h2 {
  margin: 40px 0;
}

#homepage .page-header {
  height: 350px;
  background-image: url(/assets/images/free-playing-jazz-bass.jpg);
  background-position: center 30%;
}
#homepage .page-header:after {
  background-color: rgba(0, 0, 0, 0.25);
}
#homepage .page-header header.sticky .logo img {
  display: inline;
}
#homepage .page-header header .logo img {
  display: none;
}

.category .page-header {
  height: 350px;
  background-image: url(/assets/images/free-playing-jazz-bass.jpg);
  background-position: center center;
}

button,
input[type=submit],
.btn {
  border: none;
  border-radius: 4px;
  background-color: #0a79a4;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  min-width: 120px;
  padding: 0 25px;
}

form input,
form textarea,
form button,
form .btn {
  padding: 0 25px;
  height: 40px;
  border-radius: 4px;
  font-family: helvetica, sans-serif;
}
form input:not([type=submit]),
form textarea {
  border: 0;
  outline: 0;
  border-bottom: solid 2px #e3e7e9;
  background-color: #f5f7f7;
}
form input:not([type=submit]):focus,
form textarea:focus {
  border-color: #d5dbde;
  background-color: #edf0f1;
}
form textarea {
  padding-top: 12px;
  height: 150px;
}
form.contact-form {
  max-width: 750px;
  margin: 60px auto;
  display: grid;
  gap: 20px;
  grid-template-areas: "h3" "fn" "em" "pn" "cm" "er" "bt";
}
form.contact-form h3 {
  grid-area: h3;
  text-align: center;
}
form.contact-form input[name=name] {
  grid-area: fn;
}
form.contact-form input[name=email] {
  grid-area: em;
}
form.contact-form input[name=phone] {
  grid-area: pn;
}
form.contact-form textarea {
  grid-area: cm;
}
form.contact-form button {
  grid-area: bt;
}
form.contact-form .errors {
  grid-area: er;
  color: #f90215;
  font-weight: 600;
}

@media (min-width: 1130px) {
  .container {
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  #homepage .page-header {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .display-md {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.7rem;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2.6rem;
  }
  #homepage .page-header {
    height: 500px;
  }
  header .container .bars {
    display: none;
  }
  header .container nav.main-menu {
    display: flex;
    position: static;
    background-color: transparent;
    align-items: center;
    justify-content: end;
  }
  header .container nav.main-menu .close-menu {
    display: none;
  }
  header .container nav.main-menu ul {
    display: inline-block;
  }
  header .container nav.main-menu ul li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
  }
  header .container nav.main-menu ul li.hide-md {
    display: none;
  }
  header .container nav.main-menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  header .container nav.main-menu ul li a:after {
    background-color: #45adda;
  }
  header .container nav.main-menu ul li a#search.show svg {
    margin: 0 -17px -1px 0;
  }
  header .container nav.main-menu ul li a#search.show input {
    width: 180px;
    padding: 3px 0 3px 20px;
  }
  header .container nav.main-menu ul li a#search svg {
    margin: 0 0 -1px 0;
    transition: fill 0.3s ease-in-out;
  }
  header .container nav.main-menu ul li a#search input {
    transition: width 0.3s ease-in-out;
    width: 0;
    background: transparent;
    border: 0;
    border-bottom: solid 2px #45adda;
    padding: 3px 0;
    outline: 0;
    font-size: 0.875rem;
    color: #FFFFFF;
    caret-color: #FFFFFF;
  }
  header .container nav.main-menu ul li a#search input::-moz-placeholder {
    color: #45adda;
  }
  header .container nav.main-menu ul li a#search input::placeholder {
    color: #45adda;
  }
  header .container nav.main-menu ul li a svg {
    height: 15px;
    width: 15px;
    fill: #FFFFFF;
  }
  form.contact-form {
    max-width: 750px;
    margin: 60px auto;
    display: grid;
    gap: 20px;
    grid-template-areas: "h3 h3 h3 h3" "fn fn fn fn" "pn pn em em" "cm cm cm cm" "er er er bt";
  }
  form.contact-form button {
    justify-self: end;
  }
  form.contact-form .errors {
    align-self: center;
  }
}
@media (min-width: 992px) {
  #homepage .page-header {
    height: 700px;
  }
  footer .container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: none;
    padding: 0 10px;
  }
  footer .container nav {
    justify-self: end;
    margin: 0;
  }
  footer .container nav ul li {
    margin: 0 0 0 25px;
  }
  footer .container nav .copyright li {
    text-align: right;
    margin: 18px 0 0 0;
  }
}
.categories {
  margin: 0 0 40px 0;
  background-color: #e7ebec;
}
.categories nav ul {
  text-align: center;
}
.categories nav ul li {
  margin: 0;
  display: inline-block;
}
.categories nav ul li a {
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #5c5c5c;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  padding: 0 15px;
}
.categories nav ul li a:hover {
  color: #0a79a4;
}
.categories nav ul li a:after {
  position: absolute;
  right: 0;
  height: 3px;
  bottom: 0;
  z-index: 0;
  background-color: #45adda;
}
.categories nav ul li a.active {
  color: #131b28;
  cursor: default;
}
.categories nav ul li a.active:after {
  display: none;
}
.categories nav ul li a span {
  z-index: 1;
}

address[rel=author] {
  font-size: 0.875rem;
}
address[rel=author] img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
address[rel=author] span {
  vertical-align: sub;
}
address[rel=author] a {
  color: #4f4f4f;
}
address[rel=author] a:hover {
  color: #0a79a4;
}

/******************************/
/***** BLOG LISTING PAGES *****/
/******************************/
article.featured {
  margin: 0 0 60px 0;
}
article.featured .blog-image {
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
article.featured .blog-image .blog-image-info {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
article.featured .blog-image .blog-image-info h2 {
  margin: 0 0 15px 0;
  color: #FFFFFF;
}
article.featured .blog-image .blog-image-info p {
  margin: 0;
  color: #FFFFFF;
}
article.featured .blog-image .blog-image-info address {
  color: #FFFFFF;
  margin: 0 0 15px 0;
}
article .blog-image {
  display: block;
  line-height: 0;
}
article .blog-image:hover img {
  filter: brightness(110%);
}
article .blog-image img {
  width: 100%;
  filter: brightness(95%);
  transition: filter 0.3s ease-in-out;
}
article .blog-info {
  margin: 20px 0;
}
article .blog-info ul li {
  margin: 0;
  display: inline;
}
article .blog-info ul li a {
  font-size: 0.875rem;
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.blog-posts article {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
.blog-posts article .blog-info {
  margin: 20px 25px;
}

/*****************************/
/***** BLOG DETAIL PAGES *****/
/*****************************/
.blog .blog-container {
  max-width: 750px;
}
.blog .featured-image {
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.blog .table-of-contents {
  margin: 50px 0;
  padding: 0 0 30px 0;
  position: relative;
}
.blog .table-of-contents:after {
  background: linear-gradient(to left, #fafafb, #e3e7e9);
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
}
.blog .table-of-contents ul li {
  margin: 20px 30px;
}
.blog .table-of-contents ul li a {
  text-transform: capitalize;
}
.blog .related-content {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.blog .related-content article img {
  width: 100%;
}
.blog .related-content article .blog-info {
  margin: 10px 15px;
}
.blog .related-categories {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.blog .related-categories a {
  display: inline-flex;
  margin: 10px;
  padding: 0 25px;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  background-color: #e7ebec;
}
.blog .related-categories a:hover {
  background-color: #0a79a4;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.blog section {
  margin: 50px 0;
}
.blog section.rich-text + .rich-text {
  margin-top: -20px;
}
.blog section .section-anchor {
  transform: translateY(-120px);
}
.blog h1 {
  text-transform: capitalize;
  margin: 25px 0;
  font-size: 2.1rem;
  line-height: 3rem;
}
.blog h2 {
  text-transform: capitalize;
}
.blog address {
  margin: -5px 0 25px 0;
}
.blog figure {
  margin: 0 auto;
}
.blog figure.image img {
  width: 100%;
  border-radius: 4px;
}
.blog figure.video .player {
  position: relative;
  padding-bottom: 56.25%;
}
.blog figure.video .player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.blog figure figcaption {
  font-size: 0.875rem;
  color: #787878;
  margin: 5px 0 0 0;
  text-align: center;
}

/*************************/
/***** MEDIA QUERIES *****/
/*************************/
@media (min-width: 768px) {
  .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
  article.featured .blog-image .blog-image-info p {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  article.featured .blog-image .blog-image-info p {
    width: 65%;
  }
}
