/**
 * Band Pioneer, LLC - October 2023
 * 
 * The SCSS variables stylesheet
 */
/***** FONTS *****/
@font-face {
  font-family: "BandPioneerHeader";
  src: url("/assets/fonts/conthrax-sb.woff2") format("woff2"), url("/assets/fonts/conthrax-sb.woff") format("woff");
  font-display: swap;
}
/***** BREAKPOINTS *****/
/***** COLORS *****/
/***** SPACING *****/
/***** SIZES *****/
/***** BORDERS *****/
/***** EFX *****/
html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.03rem;
  font-weight: 400;
  color: #111111;
  height: 100%;
  letter-spacing: 0.01rem;
  margin: 0;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px) {
  body {
    padding-top: 90px;
  }
}
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/***** RESPONSIVE CLASSES *****/
@media (max-width: 575px) {
  .hide-sm-down {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide-md-down {
    display: none;
  }
}
@media (min-width: 576px) {
  .hide-sm-up {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-md-up {
    display: none;
  }
}
/***** TYPOGRAPHY *****/
h1, h2, h3 {
  color: #131b28;
  font-family: "BandPioneerHeader", sans-serif;
  margin: 0 0 24px 0;
}

h1 {
  font-size: 1.9rem;
  line-height: 2.45rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.95rem;
}

h3 {
  font-size: 1.03rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.03rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 0.86rem;
  font-weight: 700;
  line-height: 1.29rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.35rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.55rem;
    line-height: 2.32rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  h4 {
    font-size: 1.03rem;
    line-height: 1.5rem;
  }
}
p {
  line-height: 1.65rem;
  margin: 0 0 16px;
}

ul li, ol li {
  line-height: 1.65rem;
  margin: 0 0 8px;
}

img {
  border-radius: 3px;
}

figure {
  margin: 30px auto;
  text-align: center;
}
figure.circle img {
  border-radius: 50%;
}
figure.circle figcaption {
  background-color: #20aae1;
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 700;
  margin-top: -30px;
  padding: 8px 48px;
}
figure.circle figcaption a {
  color: #FFFFFF;
}
figure.circle figcaption a:hover {
  color: #131b28;
}
figure img {
  height: auto;
  max-width: 100%;
  width: auto;
}
figure.image.top-margin {
  margin-top: 100px;
}
figure.image.bottom-margin {
  margin-bottom: 100px;
}
figure.image img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
@media (min-width: 768px) {
  figure.image img {
    width: 100%;
  }
}
figure.video .player {
  position: relative;
  padding-bottom: 56.25%;
}
figure.video .player iframe {
  aspect-ratio: 16/9;
  border-radius: 6px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
figure.instagram-media iframe {
  margin: 0 auto !important;
  width: 400px !important;
  max-width: 100% !important;
}
figure.instagram-media figcaption {
  margin: 10px auto 0 auto !important;
  max-width: 400px;
}
figure figcaption {
  font-size: 0.86rem;
  line-height: 1.35rem;
  color: #777777;
  margin: 8px 0 0 0;
  text-align: center;
}

.side-by-side {
  display: grid;
  gap: 24px;
}
@media (min-width: 576px) {
  .side-by-side {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

button,
.btn {
  background-color: #0a79a4;
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  font-weight: 700;
  height: 50px;
  padding: 0 24px;
  transition: background-color 0.3s;
}
button.btn,
.btn.btn {
  align-items: center;
  display: inline-flex;
}
button:hover,
.btn:hover {
  background-color: #064e6a;
  color: #FFFFFF;
}
button.ranker-like, button.ranker-dislike, button.ranker-sort,
.btn.ranker-like,
.btn.ranker-dislike,
.btn.ranker-sort {
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0;
}
button.ranker-like:hover svg path, button.ranker-dislike:hover svg path, button.ranker-sort:hover svg path,
.btn.ranker-like:hover svg path,
.btn.ranker-dislike:hover svg path,
.btn.ranker-sort:hover svg path {
  fill: #064e6a;
}
button.ranker-like svg, button.ranker-dislike svg, button.ranker-sort svg,
.btn.ranker-like svg,
.btn.ranker-dislike svg,
.btn.ranker-sort svg {
  height: 22px;
  margin: 0 0 -1px 10px;
}
button.ranker-like svg path, button.ranker-dislike svg path, button.ranker-sort svg path,
.btn.ranker-like svg path,
.btn.ranker-dislike svg path,
.btn.ranker-sort svg path {
  fill: #0a79a4;
  transition: fill 0.3s;
}
button.ranker-like.selected svg:first-child, button.ranker-dislike.selected svg:first-child,
.btn.ranker-like.selected svg:first-child,
.btn.ranker-dislike.selected svg:first-child {
  display: none;
}
button.ranker-like.selected svg:last-child, button.ranker-dislike.selected svg:last-child,
.btn.ranker-like.selected svg:last-child,
.btn.ranker-dislike.selected svg:last-child {
  display: inline;
}
button.ranker-like svg:last-child, button.ranker-dislike svg:last-child,
.btn.ranker-like svg:last-child,
.btn.ranker-dislike svg:last-child {
  display: none;
}
button.ranker-like svg,
.btn.ranker-like svg {
  margin: 0;
  transform: rotate(180deg);
}

a {
  color: #0a79a4;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #064e6a;
}
a:hover h2:first-of-type, a:hover h3:first-of-type, a:hover h4:first-of-type {
  color: #0a79a4;
}
a:hover img:first-of-type {
  filter: brightness(1.15);
}
a h2:first-of-type, a h3:first-of-type, a h4:first-of-type {
  transition: color 0.3s;
}
a img:first-of-type {
  transition: filter 0.3s;
}
a.category {
  display: inline-block;
  background-color: #0a79a4;
  border-radius: 3px 12px 12px 3px;
  font-size: 0.86rem;
  height: 24px;
  padding: 0 10px 0 8px;
  transition: background-color 0.3s;
}
a.category:hover {
  background-color: #064e6a;
}
a.category svg {
  width: 15px;
  fill: #FFFFFF;
  vertical-align: middle;
}
a.category span {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 24px;
  margin-left: 4px;
  vertical-align: middle;
}

/***** MODALS *****/
.overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  padding: 24px;
}
.overlay .modal {
  display: flex;
  background-color: white;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
  max-height: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 10px;
}
.overlay .modal > div {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.overlay .modal > div h3 {
  margin-top: 0;
}
.overlay .modal > div .scroll-container {
  overflow: auto;
}
.overlay .modal .close-button {
  position: absolute;
  top: -1px;
  right: 6px;
  border: none;
  font-weight: bold;
  font-size: 1.25rem;
}
.overlay .modal .close-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  right: -4px;
  top: -4px;
  transition: background-color 0.3s;
}
.overlay .modal .close-icon-button:hover {
  background-color: #F0F3F3;
}
.overlay .modal .close-icon-button:hover svg path {
  fill: #444444;
}
.overlay .modal .close-icon-button svg {
  height: 20px;
  width: 20px;
}
.overlay .modal .close-icon-button svg path {
  fill: #777777;
  transition: fill 0.3s;
}
.overlay .modal iframe {
  width: 350px;
  height: 440px;
  border: none;
}
.overlay .modal form [data-role=submit-error], .overlay .modal form [data-role=identifier-error] {
  display: none;
}

.login-modal {
  display: none;
}
.login-modal.show {
  display: flex;
}
.login-modal .modal > div a {
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 2px 1px #ddd;
  color: #444444;
  cursor: pointer;
  display: flex;
  font-family: Roboto-Medium, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  justify-content: center;
  height: 40px;
  margin-bottom: 15px;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}
.login-modal .modal > div a:hover {
  background-color: #F0F3F3;
  color: #111111;
}

/***** CONTAINERS *****/
.container {
  max-width: 1200px;
  margin: 0 16px;
}
@media (min-width: 1232px) {
  .container {
    margin: 0 auto;
  }
}

@media (min-width: 832px) {
  .narrow-container {
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.popup {
  display: none;
  position: absolute;
  background-color: #E0E0E0;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  flex-direction: column;
  gap: 8px;
  height: auto !important;
  left: 50%;
  padding: 15px 20px;
  text-align: center;
  top: 90px;
  transform: translateX(-50%);
  z-index: 160;
}
.popup.show {
  display: flex;
}
.popup:before {
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 10px solid #E0E0E0;
  content: " ";
  height: 0;
  left: 50%;
  top: -9px;
  transform: translateX(-50%);
  width: 0;
  z-index: 150;
}

section.blog-row article {
  background-color: #F0F3F3;
  border-radius: 6px;
  transition: transform 0.3s;
}
section.blog-row article:hover {
  transform: translateY(-6px);
}
section.blog-row article.advert {
  aspect-ratio: 1/1;
  background-color: #F0F3F3;
  overflow: hidden;
}
section.blog-row article a.blog-img {
  display: block;
  aspect-ratio: 1/1;
  background-color: #F0F3F3;
  border-radius: 3px;
  line-height: 0;
  transition: background-color 0.3s;
}
section.blog-row article a.blog-img:hover {
  background-color: #E0E0E0;
}
section.blog-row article img {
  border-radius: 3px 3px 0 0;
  height: auto;
  max-width: 100%;
  width: 100%;
}
section.blog-row article .category {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 12px 0 0 0;
  padding-left: 16px;
}
section.blog-row article a.blog-title {
  color: #111111;
}
section.blog-row article a.blog-title h4 {
  font-weight: 500;
  margin: 12px 16px;
}

/***** HEADER *****/
header.site-header {
  background-color: #131b28;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header.site-header + section.rich-text, header.site-header + #search-toggle + .search-dropdown + section.rich-text {
  background-color: #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  margin: 0;
  overflow: hidden;
  padding: 35px 0 40px 0;
  position: relative;
}
header.site-header + section.rich-text picture .hero-img, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 5s;
  filter: opacity(0.3) grayscale(1);
  z-index: 10;
}
header.site-header + section.rich-text picture + .container, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture + .container {
  position: relative;
  z-index: 20;
}
header.site-header + section.rich-text picture + .container h1, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture + .container h1 {
  text-shadow: 0 0 14px #FFFFFF;
  transition: text-shadow 5s;
}
header.site-header + section.rich-text picture + .container h2, header.site-header + section.rich-text picture + .container p, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture + .container h2, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture + .container p {
  transition: text-shadow 5s;
}
header.site-header + section.rich-text picture + .container p, header.site-header + #search-toggle + .search-dropdown + section.rich-text picture + .container p {
  font-weight: 500;
}
header.site-header #open-menu {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 12px 0 0 16px;
  padding: 0;
}
header.site-header #open-menu svg {
  fill: #FFFFFF;
  height: 32px;
  width: 32px;
}
header.site-header nav {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 110;
}
header.site-header nav.show > ul {
  display: block;
}
header.site-header nav .logo {
  position: fixed;
  top: 8px;
  right: 16px;
  width: 180px;
  z-index: 120;
}
header.site-header nav .logo img {
  height: auto;
  width: auto;
}
header.site-header nav .logo img:first-child {
  display: none;
}
header.site-header nav ul {
  display: none;
  list-style: none;
  margin: 0 -16px;
  padding: 0;
}
header.site-header nav ul:last-child {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
header.site-header nav ul li {
  background-color: #FFFFFF;
  margin: 0;
}
header.site-header nav ul li.search label {
  display: none;
}
header.site-header nav ul li a, header.site-header nav ul li label {
  display: block;
  color: #0a79a4;
  cursor: pointer;
  border-bottom: solid 1px #E0E0E0;
  font-weight: 700;
  font-size: 0.94rem;
  padding: 16px;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: color 0.3s;
}
header.site-header nav ul li a svg, header.site-header nav ul li label svg {
  float: right;
  margin-right: 34px;
  margin-top: 6px;
  width: 13px;
}
header.site-header nav ul li a svg path, header.site-header nav ul li label svg path {
  fill: #0a79a4;
}
header.site-header nav ul li ul {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  display: none;
  margin: 0;
}
header.site-header nav ul li ul.show {
  display: block;
}
header.site-header nav ul li ul li {
  background-color: #F0F3F3;
}
header.site-header nav ul li ul li:first-child a {
  padding-top: 16px;
}
header.site-header nav ul li ul li:last-child a {
  padding-bottom: 16px;
}
header.site-header nav ul li ul li a {
  border-bottom: 0;
  padding: 8px 32px;
  text-transform: none;
}
header.site-header nav ul li ul li h3 {
  margin: 0;
  padding: 8px 32px 0 32px;
}
header.site-header nav ul li ul li h4 {
  margin: 0;
  padding: 0 32px;
}
@media (min-width: 768px) {
  header.site-header nav ul:last-child {
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  body.sticky header.site-header {
    box-shadow: none;
    height: 72px;
  }
  body.sticky header.site-header nav .logo {
    margin-top: 8px;
  }
  body.sticky header.site-header nav .logo img:first-child {
    top: -200px;
    opacity: 0;
  }
  body.sticky header.site-header nav .logo img:last-child {
    top: 0;
    opacity: 1;
  }
  body.sticky header.site-header nav > ul > li > a, body.sticky header.site-header nav > ul > li > label {
    height: 72px;
    line-height: 72px;
  }
  body.sticky header.site-header nav ul {
    height: 72px;
  }
  body.sticky header.site-header nav ul li ul {
    top: 72px;
  }
  body.sticky .search-dropdown {
    height: auto;
    top: 72px;
  }
  body.sticky .search-dropdown form {
    margin-top: 24px;
  }
  header.site-header {
    height: 90px;
  }
  header.site-header + section.rich-text, header.site-header + #search-toggle + .search-dropdown + section.rich-text {
    padding: 80px 0 60px 0;
  }
  header.site-header #open-menu {
    display: none;
  }
  header.site-header nav {
    display: grid;
    grid-template-columns: 1fr 180px 1fr;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    right: 0;
    width: auto;
  }
  header.site-header nav.show > ul {
    display: flex;
  }
  header.site-header nav .logo {
    position: relative;
    left: 0;
    margin-top: 12px;
    top: 0;
    width: 100%;
  }
  header.site-header nav .logo img {
    position: absolute;
    height: auto;
    max-width: 100%;
    transition: top 0.3s, opacity 0.3s, filter 0.3s;
    z-index: 130;
  }
  header.site-header nav .logo img:first-child {
    display: inline;
    opacity: 1;
    top: 0;
  }
  header.site-header nav .logo img:last-child {
    display: inline;
    box-shadow: none;
    opacity: 0;
    top: -200px;
  }
  header.site-header nav > ul > li > a, header.site-header nav > ul > li > label {
    height: 90px;
    line-height: 90px;
    padding: 0 12px;
    transition: background-color 0.3s, height 0.3s, line-height 0.3s;
  }
  header.site-header nav > ul > li > a:hover, header.site-header nav > ul > li > label:hover {
    background-color: #0a79a4;
    color: #FFFFFF;
  }
  header.site-header nav > ul > li > a:hover svg, header.site-header nav > ul > li > label:hover svg {
    transform: translateY(4px);
  }
  header.site-header nav > ul > li > a svg, header.site-header nav > ul > li > label svg {
    transition: transform 0.3s;
  }
  header.site-header nav ul {
    display: flex;
    background-color: transparent;
    height: 90px;
    justify-content: center;
    margin: 0;
    transition: height 0.3s;
  }
  header.site-header nav ul li {
    background-color: transparent;
    position: relative;
    z-index: 140;
    /***** Dropdown Menu *****/
  }
  header.site-header nav ul li.search a {
    display: none;
  }
  header.site-header nav ul li.search label {
    display: block;
  }
  header.site-header nav ul li a, header.site-header nav ul li label {
    border-bottom: 0;
    color: #FFFFFF;
  }
  header.site-header nav ul li a svg, header.site-header nav ul li label svg {
    float: none;
    margin: 0 0 0 6px;
  }
  header.site-header nav ul li a svg path, header.site-header nav ul li label svg path {
    fill: #FFFFFF;
    transition: fill 0.3s;
  }
  header.site-header nav ul li ul {
    position: absolute;
    background-color: #E0E0E0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25) !important;
    flex-direction: column;
    gap: 8px;
    height: auto !important;
    left: 50%;
    padding: 15px 20px;
    text-align: center;
    top: 90px;
    transform: translateX(-50%);
    z-index: 160;
  }
  header.site-header nav ul li ul.show {
    display: flex;
  }
  header.site-header nav ul li ul:before {
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 10px solid #E0E0E0;
    content: " ";
    height: 0;
    left: 50%;
    top: -9px;
    transform: translateX(-50%);
    width: 0;
    z-index: 150;
  }
  header.site-header nav ul li ul li {
    background-color: transparent;
  }
  header.site-header nav ul li ul li h3 {
    text-wrap: nowrap;
    margin: 0 !important;
  }
  header.site-header nav ul li ul li h4 {
    margin: 0;
  }
  header.site-header nav ul li ul li a {
    padding: 0 !important;
    color: #444444;
  }
  header.site-header nav ul li ul li a:hover {
    color: #0a79a4;
  }
}
/***** SEARCH DROPDOWN *****/
#search-toggle {
  display: none;
}
#search-toggle:checked + .search-dropdown {
  display: flex;
}

.search-dropdown {
  align-items: end;
  background-color: #FFFFFF;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  display: none;
  height: 136px;
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 90;
}
.search-dropdown .container {
  width: 100%;
}
.search-dropdown form.search-box {
  margin-bottom: 24px;
}

form.search-box {
  align-content: space-between;
  display: flex;
  gap: 8px;
  margin-bottom: 43.2px;
  position: relative;
}
form.search-box button {
  position: absolute;
  top: 18px;
  right: 24px;
  background: #FFFFFF;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
form.search-box button svg {
  width: 18px;
}
form.search-box button svg path {
  fill: #bababa;
}
form.search-box input {
  background-color: #FFFFFF !important;
  border: solid 2px lightgray !important;
  border-radius: 25px;
  font-weight: 600;
  height: 50px;
  padding: 0 24px;
  width: 100%;
}

/***** FOOTER *****/
footer {
  background-color: #131b28;
  padding: 24px 0;
  margin: 24px 0 0 0;
}
footer .logo {
  height: 140px;
}
footer .container {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
footer .container nav {
  align-self: center;
  text-align: right;
  margin: 24px 0 0 0;
}
footer .container nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
footer .container nav ul.blog-categories {
  margin-top: 24px;
}
footer .container nav ul li {
  display: inline-block;
  margin: 0 12px;
  text-align: center;
}
footer .container nav ul li a, footer .container nav ul li label {
  color: #FFFFFF !important;
  font-size: 0.86rem;
  text-transform: uppercase;
  font-weight: 700;
}
footer .container nav ul li a:after, footer .container nav ul li label:after {
  background-color: #20aae1;
}
footer .container nav .copyright {
  color: #FFFFFF;
  font-size: 0.86rem;
  opacity: 0.65;
}
footer .container nav .copyright li {
  text-align: center;
  display: block;
  margin: 24px 0 0 0;
}
footer .container nav .copyright li:not(:first-child) {
  margin: 6px 0 0 0;
}
@media (min-width: 992px) {
  footer {
    padding: 48px 0;
    margin: 48px 0 0 0;
  }
  footer .container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: none;
    padding: 0 12px;
  }
  footer .container nav {
    justify-self: end;
    margin: 0;
  }
  footer .container nav ul {
    text-align: right;
  }
  footer .container nav ul li {
    margin: 0 0 0 24px;
  }
  footer .container nav .copyright li {
    text-align: right;
    margin: 24px 0 0 0;
  }
}

/***** CATEGORIES *****/
nav.categories {
  display: none;
  background-color: #E0E0E0;
  height: 60px;
  transition: height 0.3s, background-color 0.3s;
  width: 100%;
}
nav.categories .container {
  height: 100%;
}
nav.categories .container ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.categories .container ul li {
  margin: 0;
  position: relative;
}
nav.categories .container ul li a, nav.categories .container ul li label {
  display: block;
  font-size: 0.94rem;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  padding: 0 12px;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: background-color 0.3s;
}
nav.categories .container ul li a:not(:hover), nav.categories .container ul li label:not(:hover) {
  color: #131b28;
}
nav.categories .container ul li a:hover:not(.active), nav.categories .container ul li label:hover:not(.active) {
  background-color: #0a79a4;
  color: #FFFFFF;
}
nav.categories .container ul li a.active, nav.categories .container ul li label.active {
  color: #111111 !important;
  cursor: default;
  background-color: #cccccc;
}
nav.categories .container ul li .popup {
  width: 300px;
  top: 72px;
}
nav.categories .container ul li .popup h3 {
  margin: 0;
}

@media (min-width: 768px) {
  body.sticky nav.categories {
    position: fixed;
    background-color: #F0F3F3;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    height: 50px;
    top: 72px;
    z-index: 80;
  }
  body.sticky nav.categories .container ul li a {
    height: 50px;
    line-height: 50px;
  }
  body.sticky nav.categories .container ul li a.active {
    background-color: #E0E0E0;
  }
  nav.categories {
    display: block;
  }
}
/***** CONTAINERS *****/
@media (max-width: 768px) {
  .scroll-pane {
    overflow-x: auto;
  }
}
.z-pattern {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.z-pattern + .z-pattern:nth-child(even) {
  flex-direction: column-reverse;
}
.z-pattern img {
  max-width: 100%;
  height: auto;
}
.z-pattern div h3, .z-pattern div h3, .z-pattern div h4 {
  margin: 0 0 16px 0;
}
.z-pattern div ul {
  margin-top: -5px;
}
.z-pattern div ul li {
  margin: 0;
}

@media (min-width: 768px) {
  .z-pattern {
    display: grid;
    align-items: center;
    gap: 72px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
.pagination {
  margin: 60px 0;
  text-align: center;
}
.pagination a {
  opacity: 1 !important;
}
.pagination a:hover.page-arrow svg path {
  fill: #064e6a;
}
.pagination a.page-arrow svg path {
  fill: #0a79a4;
  transition: fill 0.3s;
}
.pagination a,
.pagination span {
  font-weight: 700;
  vertical-align: middle;
}
.pagination a.page-arrow,
.pagination span.page-arrow {
  margin: 0 8px;
}
.pagination a.page-arrow.first svg, .pagination a.page-arrow.prev svg,
.pagination span.page-arrow.first svg,
.pagination span.page-arrow.prev svg {
  transform: rotate(180deg);
}
.pagination a.page-arrow.prev,
.pagination span.page-arrow.prev {
  margin: 0 20px 0 12px;
}
.pagination a.page-arrow.next,
.pagination span.page-arrow.next {
  margin: 0 12px 0 20px;
}
.pagination a.page-arrow svg,
.pagination span.page-arrow svg {
  margin: 0 -13px;
}

/***** FORMS *****/
form input:not([name=q]):not([type=checkbox]),
form textarea,
form select {
  padding: 0 24px;
  height: 50px;
  border-radius: 6px;
  color: #111111;
  font-family: helvetica, sans-serif;
  font-size: 0.86rem;
}
form input:not([name=q]):not([type=checkbox])::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder {
  font-weight: 700;
}
form input:not([name=q]):not([type=checkbox])::placeholder,
form textarea::placeholder,
form select::placeholder {
  font-weight: 700;
}
form input:not([type=submit]),
form select,
form textarea {
  background-color: #f6f8f8;
  border: 0;
  border-bottom: solid 2px #e0e0e0;
  outline: 0;
}
form input:not([type=submit]):focus,
form select:focus,
form textarea:focus {
  border-color: lightgray;
  background-color: #f0f3f3;
}
form textarea {
  padding-top: 18px;
  height: 150px;
}
form .errors {
  color: #f90215;
  font-weight: 700;
  font-size: 0.86rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
form .success {
  color: #0a79a4;
  font-weight: 700;
  font-size: 0.86rem;
}
form.login-form {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #e0e0e0;
  border-radius: 6px;
  padding: 35px;
}
form.login-form h3 {
  margin: 0 0 35px 0;
}
form.login-form input {
  margin-bottom: 35px;
  display: block;
  width: 100%;
}
form.login-form .errors {
  text-align: center;
  margin: -25px 0 20px 0;
}
form.login-form button {
  width: 100%;
}
form.login-form label {
  font-size: 0.86rem;
  display: block;
  margin: 25px 0 0 0;
  text-align: center;
}
form.contact-form {
  max-width: 635px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
  grid-template-areas: "h3" "fn" "em" "pn" "cm" "er" "bt";
}
form.contact-form h3 {
  grid-area: h3;
  text-align: center;
}
form.contact-form input[name=fromName] {
  grid-area: fn;
}
form.contact-form input[name=fromEmail] {
  grid-area: em;
}
form.contact-form input[name=phone] {
  grid-area: pn;
}
form.contact-form textarea {
  grid-area: cm;
}
form.contact-form button {
  grid-area: bt;
  justify-self: start;
  width: 140px;
}
form.contact-form .errors {
  grid-area: er;
  color: #f90215;
  font-weight: 700;
}
form.contact-form .success {
  grid-area: er;
  color: #0a79a4;
  font-weight: 700;
  line-height: 50px;
  vertical-align: middle;
}
@media (min-width: 576px) {
  form.contact-form {
    grid-template-areas: "h3 h3" "fn fn" "em em" "pn pn" "cm cm" "er bt";
  }
  form.contact-form button {
    justify-self: end;
  }
}

/***** SECTIONS *****/
section {
  margin: 24px 0;
}
section.blog-row h2, section.blog-row h3 {
  border-bottom: solid 1px #131b28;
  text-transform: capitalize;
}
section.blog-row .grid-pane {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 375px) {
  section.blog-row .grid-pane {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  section.blog-row .grid-pane article {
    max-width: 178px;
  }
}
@media (min-width: 576px) {
  section.blog-row .grid-pane article {
    max-width: 282px;
  }
}
@media (min-width: 768px) {
  section.blog-row .grid-pane {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  section.blog-row .grid-pane article {
    max-width: 100%;
  }
}
section.blog-row .scroll-pane div {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}
section.blog-row .scroll-pane div article {
  width: 220px;
}
@media (min-width: 768px) {
  section.blog-row .scroll-pane div {
    grid-template-columns: repeat(2, 1fr);
  }
  section.blog-row .scroll-pane div article {
    width: 282px;
  }
  section.blog-row .scroll-pane div article img {
    width: auto;
  }
}
@media (min-width: 992px) {
  section.blog-row .scroll-pane div {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  section.blog-row .scroll-pane div article {
    width: 100%;
  }
}
section.cta-text {
  background-color: #F0F3F3;
  margin-top: 0;
  overflow: hidden;
  text-align: center;
  background-image: url(/assets/images/bp-homepage-bkg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
section.cta-text * {
  color: #FFFFFF;
}
section.cta-text p {
  font-weight: 500;
}
section.cta-text .z-pattern {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 48px;
}
section.cta-text .z-pattern div:nth-child(2n) {
  line-height: 0;
}
section.cta-text .z-pattern div:nth-child(2n) img {
  max-height: 450px;
  opacity: 1;
  filter: blur(0px) grayscale(40%);
  transition: filter 0.8s, opacity 0.3s;
}
section.cta-text .z-pattern div:nth-child(2n) img.blur-out {
  opacity: 0;
  filter: blur(40px) grayscale(40%);
  transition: filter 0.3s, opacity 0.5s;
}
@media (min-width: 768px) {
  section.cta-text .z-pattern {
    display: flex;
    gap: 0;
  }
  section.cta-text .z-pattern div:nth-child(2n) img {
    margin-top: 24px;
  }
}
@media (min-width: 992px) {
  section.cta-text {
    background-size: cover;
    background-position: center top;
    border-top: solid 2px #FFFFFF;
    padding-top: 0;
    text-align: left;
  }
  section.cta-text .z-pattern {
    display: grid;
    gap: 24px;
    height: 500px;
    max-width: none;
    padding-top: 0;
  }
  section.cta-text .z-pattern div:nth-child(2n) {
    align-self: end;
  }
  section.cta-text .z-pattern div:nth-child(2n) img {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  section.cta-text .z-pattern {
    height: 600px;
  }
  section.cta-text .z-pattern div:nth-child(2n) img {
    max-height: 550px;
  }
}
section.featured .z-pattern .category {
  margin-bottom: 24px;
}
section.featured .z-pattern img {
  width: auto;
}
@media (min-width: 768px) {
  section.featured .search-box {
    margin-top: -48px;
  }
  section.featured .search-box input[type=text] {
    border-color: #E0E0E0 !important;
    border-top: none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  section.featured .search-box button {
    top: 14px;
    right: 20px;
  }
}
section.rich-text.bkg-img {
  position: relative;
  background-position: center center;
  background-size: cover;
}
section.rich-text.bkg-img:after {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
section.rich-text.bkg-img .container {
  position: relative;
  z-index: 20;
}
section.rich-text.bkg-img .container h1, section.rich-text.bkg-img .container h2, section.rich-text.bkg-img .container h3, section.rich-text.bkg-img .container h4, section.rich-text.bkg-img .container p {
  color: #FFFFFF;
}
section.rich-text .container {
  max-width: 635px;
}
section.rich-text .container p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  section.rich-text .container {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  section {
    margin: 48px 0;
  }
}
