{% extends '_layout' %}
{% import '_includes/macros' as macros %}

{% set postsPerPage = 8 %}
{% set categories = craft.entries.section('category') %}

{% if not entry.show %}
	{% redirect '/' %}
{% endif %}
{% set categorySlug = craft.app.request.segments | last %}
{% set categoryEntry = craft.entries.section('category').slug(categorySlug) %}
{% set blogQuery = craft.entries.section('blog').relatedTo(categoryEntry) %}

{% paginate blogQuery.limit(postsPerPage).orderBy('postDate DESC') as pageInfo, posts %}

{% block content %}
	{% include '_includes/categories' with { categories: categories } %}
	<div class="container">

		{% if entry.headline | length > 0 or entry.shortDescription | length > 0 %}

			{% cache %}
			<div class="page container">
				<section class="description">
					{% if entry.headline | length > 0 %}
						<h2><span>{{ entry.headline }}</span></h2>
					{% endif %}
					{% if entry.shortDescription | length > 0 %}
						<div class="narrow-container">
							<h4 class="font-normal">{{ entry.shortDescription }}</h4>
						</div>
					{% endif %}
				</section>
			</div>
			{% endcache %}

		{% endif %}

		{% include 'blog/_includes/blog-posts' with { posts: posts } %}

	</div>
{% endblock %}