{% extends '_layout' %}

{% set pageTitle = "Let's Connect!" %}
{% set entry = { slug: 'contact', title: 'Contact Us', section: { handle: 'contact' } } %}
{% set articles = craft.entries.section('blog').limit(6).orderBy('RAND()') %}
{% set categories = craft.entries.section('category') %}

{% block scripts %}
	<script>
		const form = document.querySelector('#contact-form');
		const errors = document.querySelector('#form-errors');
		const info = document.querySelector('#form-info');

		form.addEventListener("submit", function(e)
		{
			e.preventDefault();

			errors.innerHTML = "";

			var data = new FormData(e.target);

			fetch("/forms/sendmail.php", {
				method: 'POST',
				body: data 
			}).then(function (response)
			{
				console.log('response');
				console.warn(response);
				if (response.ok)
				{
					return response.json();
				}
				return Promise.reject(response);
			}).then(function (data) 
			{
				if (data.status == "success")
				{
					info.innerText = "Thank you! Your message has been sent, and we will be in contact soon.";
					e.target.reset();
				}
				else 
				{
					errors.innerHTML = data.message;
				}
			}).catch(function (error)
			{
				errors.innerHTML = error.message;
				console.log('error');
				console.warn(error);
				console.warn(error.message);
			});
		});
	</script>
{% endblock %}

{% block content %}

	<div class="page container">

		<form id="contact-form" class="contact-form" action="/forms/sendmail.php">

			<h3 id="form-info">
				Got a question you'd like answered on Band Pioneer?<br />Use the form below to let us know. Or just send us some good vibes.
			</h3>

			<input name="poobear" type="hidden" value="">
			<input name="name" type="text" placeholder="Full Name">
			<input name="email" type="email" placeholder="Email">
			<input name="phone" type="text" placeholder="Phone Number">
			<textarea name="comments" placeholder="Comments"></textarea>
			<div id="form-errors" class="errors"></div>
			<button class="btn">Send</button>
		</form>

		<section class="blog">

			<div class="container narrow-container">

				<h3 class="section-title"><span>Ready To Jump Back In?</span></h3>

				{% include '_includes/related-content' with { articles: articles } %}

				{% include '_includes/related-categories' with { categories: categories } %}
			</div>

		</div>

	</div>

{% endblock %}