{% extends '_layout' %}

{% set pageTitle = "About Us" %}
{% set entry = { slug: 'about', title: 'About Us', section: { handle: 'about' } } %}

{% block scripts %}
	<script type="text/javascript">
		if (typeof(bp) === 'object')
		{
			bp.createBandCarousels();
		}
	</script>
{% endblock %}

{% block content %}

	<div class="page container">
		<section class="description">
			<h2>
				<span>We Have One Mission At Band Pioneer</span>
			</h2>
			<div class="narrow-container">
				<h4>To help equip musicians and bands with everything they need to find success socially, financially and online.</h4>
			</div>
		</section>
	</div>

	{% include '_includes/band-carousel' %}

	<div class="page container">

		<div class="narrow-container">

			<p>
				We provide answers to all of your music related questions, whether it's branding, website development (via our trusted partner <a href="https://realitygems.com" target="_blank">Reality Gems</a>), finding gigs, selecting the right equipment, learning to compose music, social media/digital marketing, or anything else standing in your way. 
				You can <a href="/contact">submit questions</a>, search for an answer, or browse through our library of articles on various topics.
			</p>

			{# <figure class="image">
				<img style="width: 100%" src="{{ url('assets/images/hillsidegroove-charlotte-nc.jpg') }}">
				<figcaption>
					The founder of Band Pioneer in 1998, <a href="https://www.youtube.com/@HillsideGroove" target="_blank">performing live with Hillside Groove</a> in Charlotte, NC.
				</figcaption>
			</figure> #}

			<p>
				Band Pioneer's founder started his music career as a Hip-Hop DJ, bass guitarist and vocalist, in the 1990's. During these pre-internet days, he taught himself how to write, record and mix music, using 4-track recorders, turntables, early digital wav editors, samplers, and whatever electronics he could get his hands on. Over 20 years (and many gigs) later, he has connected with other successful entrepreneurial musicians, to bring this database of knowledge to you, to share everything they've learned along the way.
			</p>

			<p>
				We strive to be the number one online resource for musicians and bands of all genres and skill levels. We are constantly adding new content to our library of music how to’s, tips and tricks, and DIY music solutions, so make sure to check back often.
			</p>

			{# <figure class="image">
				<img style="width: 100%" src="{{ url('assets/images/exit85-corkscrew.jpg') }}">
				<figcaption>
					Using Band Pioneer, <a href="https://exiteightyfive.com" target="_blank">Exit 85</a> accomplished their goal of cutting out the long road trips, by cornering the music market in their hometown of Fort Mill, SC, with consistent gigs, festivals and private parties.
				</figcaption>
			</figure> #}

			<p>
				The internet has provided us with endless resources and fanbase reach to be successful as a musician. Today more than ever, no musician should be a "starving artist". 
				You've worked hard to master your craft. Now Band Pioneer will help you master the maintenance, marketing and business aspects that most overlook.
			</p>

			<p>
				Welcome to Band Pioneer! If you can't find what you're looking for or have questions in general, please <a href="/contact">click here to contact us</a>.
			</p>

		</div>

	</div>

{% endblock %}