{% extends '_layout' %}

{% set pageTitle = "Let's Connect!" %}
{% set entry = { slug: 'contact', section: { handle: 'contact' } } %}

{% block scripts %}
	<script>
		const form = document.querySelector('#contact-form');
		const errors = document.querySelector('#form-errors');
		const info = document.querySelector('#form-info');

		form.addEventListener("submit", function(e)
		{
			e.preventDefault();

			let data = new FormData(e.target);

			fetch("/forms/sendmail.php", {
				method: 'POST',
				headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
				}, 
				body: data 
			}).then(function (response)
			{
				console.log('response');
				// console.log(response.json());
				if (response.ok)
				{
					return response.json();
				}
				return Promise.reject(response);
			}).then(function (data) 
			{
				console.log('data');
				console.log(data);
				if (data.status == "success")
				{
					info.innerText = "Thank you! Your message has been sent, and we will be in contact soon.";
					e.target.reset();
				}
			}).catch(function (error)
			{
				errors.innerText = error;
				console.log('error');
				console.warn(error.message);
			});
		});
	</script>
{% endblock %}

{% block content %}

	<div class="container">

		<form id="contact-form" class="contact-form" action="/forms/sendmail.php">

			<h3 id="form-info">
				Got a question you'd like answered on Band Pioneer?<br />Any other comments, concerns or well wishes?<br />Let us know in the form below!
			</h3>

			<input name="name" type="text" placeholder="Full Name">
			<input name="email" type="email" placeholder="Email">
			<input name="phone" type="text" placeholder="Phone Number">
			<textarea name="comments" placeholder="Comments"></textarea>
			<div id="form-errors" class="errors"></div>
			<button class="btn">Send</button>
		</form>

	</div>

{% endblock %}